<!DOCTYPE html>
<!-- saved from url=(0019)https://watcha.net/ -->
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link rel="shortcut icon" type="image/x-icon" href="http://watcha.net/favicon.ico?v=2">
      <link rel='stylesheet' href='/stylesheets/MenuSlide/MenuSlide.css'>
      <script type="text/javascript" src="/javascripts/MenuSlide/MenuSlide.js"></script>
   </head>
   <body class="home mac on-the-cover">
      <div id="fb-root" class=" fb_reset">
         <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
            <div><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="./b_files/0F7S7QWJ0Ac.html" style="border: none;"></iframe></div>
         </div>
         <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
            <div></div>
         </div>
      </div>
      <div class="payment-bar">
         <div class="payment-bar__text">
            [왓챠플레이 앱출시] 지금 다운로드하고, 첫달은 무료로 감상하세요!
         </div>
         <a class="payment-bar__button" href="https://play.watcha.net/?utm_campaign=launch&amp;utm_source=watcha&amp;utm_medium=web_banner">
         감상하기
         </a>
      </div>
      <div id="header" class=" with-payment-bar">
         <div class="for-popup-scroll-area-margin">
            <div class="inner responsive-mask">
               <ul class="gnb clearfix">
                  <li class="navi-item home on">
                     <a href="https://watcha.net/">
                     <img src="./b_files/icon_40-a779704484985e4920effcf2089c560f4390b8a6f4449efde4c59f2c34b3bc04.png" width="30" height="30">
                     </a>
                     <span class="highlight"></span>
                  </li>
                  <li class="navi-item boxoffice ">
                     <a href="https://watcha.net/boxoffice">박스오피스</a>
                     <span class="highlight"></span>
                  </li>
                  <li class="navi-item genre ">
                     <a href="https://watcha.net/recommendation">추천영화</a>
                     <span class="highlight"></span>
                  </li>
                  <li class="navi-item evalmore ">
                     <a href="https://watcha.net/evalmore">평가늘리기</a>
                     <span class="highlight"></span>
                  </li>
               </ul>
               <form accept-charset="UTF-8" action="https://watcha.net/search/search" id="search-form" method="get">
                  <div class="input-wrapper">
                     <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input id="input-query" name="query" type="search" autocomplete="off" class="ui-autocomplete-input">
                     <span id="search-icon"></span>
                  </div>
                  <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="display: none;"></ul>
               </form>
               <div id="gnb-right-menu" class="right-menu">
                  <div class="menu partner ">
                     <img class="thumbnail partner" src="https://watcha.net/" width="30" height="30" onerror="utils.loadDefaultImg(this, &#39;thumb&#39;);">
                     <span class="movie-partner-btn">영화친구 설정하기</span>
                     <span class="highlight"></span>
                     <div class="dropdown">
                        <span class="title">무비파트너 설정</span>
                        <div class="thumbnails">
                           <img class="thumbnail my" src="./b_files/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" width="50" height="50" onerror="utils.loadDefaultImg(this, &#39;thumb&#39;);">
                           <img class="thumbnail partner" src="https://watcha.net/" width="50" height="50" onerror="utils.loadDefaultImg(this, &#39;thumb&#39;);">
                           <span class="movie-partner-btn">영화친구 설정하기</span>
                        </div>
                        <p class="desc prevent-delete">
                        </p>
                        <p class="desc induce-register">
                           무비파트너를 설정하세요.<br>
                           취향 매칭율과 친구의 예상 별점을 알려드려요. :)
                        </p>
                        <button class="btn">
                        설정하기
                        </button>
                     </div>
                  </div>
                  <div class="menu my">
                     <a class="name" href="https://watcha.net/v2/users/k1dp84nRqd4m">
                     유동원
                     <img class="thumbnail" src="./b_files/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" width="30" height="30" onerror="utils.loadDefaultImg(this, &#39;thumb&#39;);">
                     </a>          <span class="highlight"></span>
                     <div class="dropdown">
                        <ul>
                           <li>
                              <a href="https://watcha.net/v2/users/k1dp84nRqd4m/wishlist">영화보관함</a>
                              <span class="count">19</span>
                           </li>
                           <li>
                              <a href="https://watcha.net/giftbox">선물함</a>
                           </li>
                           <li class="divide-line">
                              <a href="https://watcha.net/#" onclick="InviteFriend.popupInviteFriend(event);">친구초대</a>
                           </li>
                           <li class="divide-line">
                              <a href="https://watcha.net/#" class="setting">설정</a>
                           </li>
                           <li>
                              <a href="https://watcha.net/logout">로그아웃</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="contents" style="min-height: 776px;">
         <div class="kwz" style="height: 500px; width: 1279px; position: fixed; display: block;">
            <ul class="items bjqs" style="height: 500px; width: 1279px; display: block;">
               <li class="item idx-1 bjqs-slide" style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494555564/zvbkw1dpyb1rpoxkyxgp.jpg&quot;); height: 500px; width: 1279px; display: none;">
                  <div class="gradation"></div>
                  <div class="kwz-desc-wrapper">
                     <div class="kwz-desc responsive-mask">
                        <div class="predicted-rating">
                           <div class="my-predicted-rating">
                              <img src="./b_files/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" width="25" height="25" onerror="utils.loadDefaultImg(this, &#39;thumb&#39;);">
                              <span class="number">3.8</span>
                           </div>
                        </div>
                        <dt>오늘의 박스오피스</dt>
                        <dd>
                           <a data-movie-title-url="pirates-of-the-caribbean-2013" data-movie-id="m3xlkh" class="title" href="https://watcha.net/movies/m3xlkh?unique_id=m3xlkh">캐리비안의 해적: 죽은 자는 말이 없다</a>
                           <div class="movie-desc">
                              평균 별점 : 3.9
                              , 예매율
                              : 52.89%
                              <br>
                              2017, 미국, 액션, 12세 관람가, 2시간 9분
                              <br>
                              감독 : <a href="javascript:void(0)" class="popup-involve-movies" data-person-id="211538">요아킴 뢰닝</a>, <a href="javascript:void(0)" class="popup-involve-movies" data-person-id="24086">에스펜 잔드베르크</a>
                              ,&nbsp;
                              배우 : <a href="javascript:void(0)" class="popup-involve-movies" data-person-id="35059">조니 뎁</a>, <a href="javascript:void(0)" class="popup-involve-movies" data-person-id="21470">하비에르 바르뎀</a>, <a href="javascript:void(0)" class="popup-involve-movies" data-person-id="283328">브렌튼 스웨이츠</a>
                              <br>
                              <div class="reservation">
                                 <span class="text">
                                 <span class="icon"></span>
                                 예매하기
                                 <span class="bar"></span>
                                 </span>
                                 <ul class="reservation-list">
                                    <li class="theater-item megabox_id">
                                       <a href="http://www.megabox.co.kr/?show=detail&amp;rtnShowMovieCode=011859" target="_blank" data-theater="megabox_id">megabox_id</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </dd>
                     </div>
                  </div>
               </li>
               <li class="item idx-2 bjqs-slide" style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1495431422/e57s7vbcxtyeroazaf7a.jpg&quot;); height: 500px; width: 1279px; display: list-item;">
                  <div class="gradation"></div>
                  <div class="kwz-desc-wrapper">
                     <div class="kwz-desc responsive-mask">
                        <div class="predicted-rating">
                           <div class="my-predicted-rating">
                              <img src="./b_files/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" width="25" height="25" onerror="utils.loadDefaultImg(this, &#39;thumb&#39;);">
                              <span class="number">3.4</span>
                           </div>
                        </div>
                        <dt>오늘의 개봉예정작</dt>
                        <dd>
                           <a data-movie-title-url="project-n-2017" data-movie-id="mnifcf" class="title" href="https://watcha.net/movies/mnifcf?unique_id=mnifcf">노무현입니다</a>
                           <div class="movie-desc">
                              평균 별점 : 3.8
                              , 예매율
                              : 14.69%
                              <br>
                              2017, 한국, 다큐멘터리, 12세 관람가, 1시간 49분
                              <br>
                              감독 : <a href="javascript:void(0)" class="popup-involve-movies" data-person-id="164224">이창재</a>
                              ,&nbsp;
                              배우 : <a href="javascript:void(0)" class="popup-involve-movies" data-person-id="346996">노무현</a>
                              <br>
                              <div class="reservation">
                                 <span class="text">
                                 <span class="icon"></span>
                                 예매하기
                                 <span class="bar"></span>
                                 </span>
                                 <ul class="reservation-list">
                                    <li class="theater-item megabox_id">
                                       <a href="http://www.megabox.co.kr/?show=detail&amp;rtnShowMovieCode=012006" target="_blank" data-theater="megabox_id">megabox_id</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </dd>
                     </div>
                  </div>
               </li>
               <li class="item idx-3 bjqs-slide" style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1463388574/mecox6-4022.jpg&quot;); height: 500px; width: 1279px; display: none;">
                  <div class="gradation"></div>
                  <div class="kwz-desc-wrapper">
                     <div class="kwz-desc responsive-mask">
                        <div class="predicted-rating">
                           <div class="my-predicted-rating">
                              <img src="./b_files/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" width="25" height="25" onerror="utils.loadDefaultImg(this, &#39;thumb&#39;);">
                              <span class="number">4.2</span>
                           </div>
                        </div>
                        <dt>오늘의 PC VOD 영화</dt>
                        <dd>
                           <a data-movie-title-url="i-am-number-four-2011" data-movie-id="mecox6" class="title" href="https://watcha.net/movies/mecox6?unique_id=mecox6">아이 엠 넘버 포</a>
                           <div class="movie-desc">
                              평균 별점 : 3.1
                              <br>
                              2011, 미국, SF, 12세 관람가, 1시간 43분
                              <br>
                              감독 : <a href="javascript:void(0)" class="popup-involve-movies" data-person-id="75657">D.J. 카루소</a>
                              ,&nbsp;
                              배우 : <a href="javascript:void(0)" class="popup-involve-movies" data-person-id="164526">알렉스 페티퍼</a>, <a href="javascript:void(0)" class="popup-involve-movies" data-person-id="92511">티모시 올리펀트</a>, <a href="javascript:void(0)" class="popup-involve-movies" data-person-id="151425">테레사 팔머</a>
                              <br>
                              <div class="watch-link-wrapper googleplay">
                                 <a href="https://play.google.com/store/movies/details?id=4pUww-Aem-U&amp;PAffiliateID=100l3VK" target="_blank" class="watch-link" data-vod-vendor="googleplay">
                                 <span class="icon"></span>
                                 감상하기
                                 </a>
                                 Google Play&nbsp;
                                 원 · HD화질
                              </div>
                           </div>
                        </dd>
                     </div>
                  </div>
               </li>
               <li class="item idx-4 bjqs-slide" style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1463558370/ms5enj-18127.jpg&quot;); height: 500px; width: 1279px; display: none;">
                  <div class="gradation"></div>
                  <div class="kwz-desc-wrapper">
                     <div class="kwz-desc responsive-mask">
                        <div class="predicted-rating">
                           <div class="my-predicted-rating">
                              <img src="./b_files/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" width="25" height="25" onerror="utils.loadDefaultImg(this, &#39;thumb&#39;);">
                              <span class="number">4.5</span>
                           </div>
                        </div>
                        <dt>오늘의 TV VOD 영화</dt>
                        <dd>
                           <a data-movie-title-url="mamma-mia-2008" data-movie-id="ms5enj" class="title" href="https://watcha.net/movies/ms5enj?unique_id=ms5enj">맘마 미아!</a>
                           <div class="movie-desc">
                              평균 별점 : 3.8
                              <br>
                              2008, 영국, 로맨틱 코미디, 12세 관람가, 1시간 48분
                              <br>
                              감독 : <a href="javascript:void(0)" class="popup-involve-movies" data-person-id="258489">필리다 로이드</a>
                              ,&nbsp;
                              배우 : <a href="javascript:void(0)" class="popup-involve-movies" data-person-id="140888">아만다 사이프리드</a>, <a href="javascript:void(0)" class="popup-involve-movies" data-person-id="184525">메릴 스트립</a>, <a href="javascript:void(0)" class="popup-involve-movies" data-person-id="13306">피어스 브로스넌</a>
                              <br>
                              <span class="home-cover-vendor googleplay">
                              <span class="price">
                              <span class="vendor-logo">googleplay</span>
                              Google Play&nbsp;
                              원 · HD화질
                              </span>
                              </span>
                           </div>
                        </dd>
                     </div>
                  </div>
               </li>
               <li class="item idx-4 bjqs-slide" style="background-image: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/home/appdown_banner_bg-2a01b8bf998d405b924aabded87c756eee033c25acbc720f3d04603a0ddc4bc7.png&quot;); height: 500px; width: 1279px; display: none;">
                  <div class="kwz-desc-wrapper">
                     <div class="kwz-desc responsive-mask">
                        <dd>
                           <span class="title">모바일에서도 왓챠!</span>
                           <div class="movie-desc">
                              모바일 앱을 다운받으면, 언제 어디서나 왓챠와 함께할 수 있답니다!<br>
                              주변 극장 상영시간표, 지금 TV에서 방영되는 영화들도 확인 해 보세요.<br><br>
                              <a href="https://play.google.com/store/apps/details?id=com.frograms.watcha" target="_blank" class="play-store"></a>
                              &nbsp;&nbsp;&nbsp;
                              <a href="https://itunes.apple.com/kr/app/yeonghwagwan-gal-ttae-pilsuaeb/id644185507?mt=8" target="_blank" class="app-store"></a>
                           </div>
                        </dd>
                     </div>
                  </div>
               </li>
            </ul>
            <ul class="bjqs-controls v-centered">
               <li class="bjqs-prev"><a href="https://watcha.net/#" data-direction="previous" style="top: 46%;">Prev</a></li>
               <li class="bjqs-next"><a href="https://watcha.net/#" data-direction="forward" style="top: 46%;">Next</a></li>
            </ul>
            <div class="bjqs-markers-wrapper" style="width: 1279px;"></div>
         </div>
         <div class="recommend-wrapper">
            <ol class="sections-wrapper">
               <li id="boxoffice-section" class="boxoffice responsive-mask section">
         </div>
      </div>
      <h5>TEST<br><br><br><br><br><br></h5>
      <h5>TEST<br><br><br><br><br><br></h5>
      <h5>TEST<br><br><br><br><br><br></h5>
      <h5>TEST<br><br><br><br><br><br></h5>
      <h5>TEST<br><br><br><br><br><br></h5>
      <h5>TEST<br><br><br><br><br><br></h5>
      <h5>TEST<br><br><br><br><br><br></h5>
      <h5>TEST<br><br><br><br><br><br></h5>
      <h5>TEST<br><br><br><br><br><br></h5>
   </body>
</html>
