<!DOCTYPE html>
<html>
  <head>
    <title>영화, 그 이상의 감동. GRL</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/MidSlide.css'>
    <script type="text/javascript" src="/javascripts/MidSlide.js"></script>
  </head>
  <body>




    <div class="slider">
        <div class="slide">
          <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79594/79594_185.jpg">
        </div>
        <div class="slide">
          <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79592/79592_185.jpg">
        </div>
        <div class="slide">
          <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79556/79556_185.jpg">
        </div>
        <div class="slide">
          <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79587/79587_185.jpg">
        </div>
        <div class="slide">
          <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79586/79586_185.jpg">
        </div>
        <div class="slide">
          <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79601/79601_185.jpg">
        </div>
        <div class="slide">
          <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79571/79571_185.jpg">
        </div>

    </div>
    <div class="controls">
      <button class="prev">&lt;</button>
      <button class="next">&gt;</button>
    </div>




  </body>
</html>
