<ol class="sections-wrapper">
    <li id="boxoffice-section" class="boxoffice responsive-mask section"><h3 class="title">오늘의 BOX OFFICE</h3><div class="slider-wrapper"><div class="vertical-list"><ul class="grid-container" style="position: relative; width: 2880px; height: 670px;"><div class="ranking card grid-1 hei-2 top-0 left-0">
  <h4 class="head">영화 랭킹</h4>
  <div class="inner">
    <ol class="list">



      <li class="item rank1" style="">
        <a href="/mv/pirates-of-the-caribbean-2013/m3xlkh" data-movie-id="m3xlkh" data-movie-title-url="pirates-of-the-caribbean-2013">
          <span class="number">1</span>캐리비안의 해적: 죽은 자는 말이 없다
        </a>
      </li>



      <li class="item rank2" style="">
        <a href="/mv/project-n-2017/mnifcf" data-movie-id="mnifcf" data-movie-title-url="project-n-2017">
          <span class="number">2</span>노무현입니다
        </a>
      </li>



      <li class="item rank3" style="">
        <a href="/mv/get-out-2017/m5nj8f" data-movie-id="m5nj8f" data-movie-title-url="get-out-2017">
          <span class="number">3</span>겟 아웃
        </a>
      </li>



      <li class="item " style="">
        <a href="/mv/daeribgun-gaje-2016/mj4rv3" data-movie-id="mj4rv3" data-movie-title-url="daeribgun-gaje-2016">
          <span class="number">4</span>대립군
        </a>
      </li>



      <li class="item " style="">
        <a href="/mv/the-way-2017/mfmxko" data-movie-id="mfmxko" data-movie-title-url="the-way-2017">
          <span class="number">5</span>길
        </a>
      </li>



      <li class="item " style="">
        <a href="/mv/the-merciless-2017/mli5it" data-movie-id="mli5it" data-movie-title-url="the-merciless-2017">
          <span class="number">6</span>불한당: 나쁜 놈들의 세상
        </a>
      </li>



      <li class="item " style="">
        <a href="/mv/kurokos-basketball-2017/mkgyyy" data-movie-id="mkgyyy" data-movie-title-url="kurokos-basketball-2017">
          <span class="number">7</span>극장판 쿠로코의 농구 라스트 게임
        </a>
      </li>



      <li class="item " style="">
        <a href="/mv/king-arthur-legend-of-the-2017/mgdwr4" data-movie-id="mgdwr4" data-movie-title-url="king-arthur-legend-of-the-2017">
          <span class="number">8</span>킹 아서: 제왕의 검
        </a>
      </li>



      <li class="item " style="">
        <a href="/mv/the-boss-baby-2017/mbj8df" data-movie-id="mbj8df" data-movie-title-url="the-boss-baby-2017">
          <span class="number">9</span>보스 베이비
        </a>
      </li>



      <li class="item " style="">
        <a href="/mv/guardians-of-the-galaxy-2017/mqdtac" data-movie-id="mqdtac" data-movie-title-url="guardians-of-the-galaxy-2017">
          <span class="number">10</span>가디언즈 오브 갤럭시 VOL. 2
        </a>
      </li>



      <li class="item " style="">
        <a href="/mv/big-fish-and-begonia-2016/msqi5e" data-movie-id="msqi5e" data-movie-title-url="big-fish-and-begonia-2016">
          <span class="number">11</span>나의 붉은 고래
        </a>
      </li>



      <li class="item " style="">
        <a href="/mv/wonder-woman-2017/m2hjlm" data-movie-id="m2hjlm" data-movie-title-url="wonder-woman-2017">
          <span class="number">12</span>원더 우먼
        </a>
      </li>



      <li class="item " style="">
        <a href="/mv/boangwan-2016/mnm2sd" data-movie-id="mnm2sd" data-movie-title-url="boangwan-2016">
          <span class="number">13</span>보안관
        </a>
      </li>



      <li class="item " style="">
        <a href="/mv/neruda-2016/m5zzt2" data-movie-id="m5zzt2" data-movie-title-url="neruda-2016">
          <span class="number">14</span>네루다
        </a>
      </li>



      <li class="item " style="">
        <a href="/mv/imgeumnimyi-sageonsuceob-2016/my2z2m" data-movie-id="my2z2m" data-movie-title-url="imgeumnimyi-sageonsuceob-2016">
          <span class="number">15</span>임금님의 사건수첩
        </a>
      </li>



      <li class="item " style="">
        <a href="/mv/prometheus-2-2014/mt136i" data-movie-id="mt136i" data-movie-title-url="prometheus-2-2014">
          <span class="number">16</span>에이리언: 커버넌트
        </a>
      </li>



      <li class="item " style="">
        <a href="/mv/jane-2016/m3rxy0" data-movie-id="m3rxy0" data-movie-title-url="jane-2016">
          <span class="number">17</span>꿈의 제인
        </a>
      </li>



      <li class="item " style="">
        <a href="/mv/i-am-a-cat-2014/mtm5pq" data-movie-id="mtm5pq" data-movie-title-url="i-am-a-cat-2014">
          <span class="number">18</span>나는 고양이로소이다
        </a>
      </li>



      <li class="item " style="">
        <a href="/mv/the-100th-love-with-you-2017/muvzr7" data-movie-id="muvzr7" data-movie-title-url="the-100th-love-with-you-2017">
          <span class="number">19</span>너와 100번째 사랑
        </a>
      </li>


    </ol>
  </div>
</div><div class="movie-card size-2x2 poster-type boxoffice_large_movie  user-action-m3xlkh card grid-2 hei-2 top-0 left-1">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_700,q_80,w_490/v1494555523/zvf1qwfhuack56zpnoto.jpg" width="100%" height="650">


    <div class="top-gradation"></div>


    <div class="predicted-rating">

      <span class="rating">
        <img class="thumb" width="25" height="25" src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/user/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
        <span class="number">3.8</span>
      </span>


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

      <h5 class="movie-title">캐리비안의 해적: 죽은 자는 말이 없...</h5>
      <div class="basic-info">

        <div class="reservation-info">
          <span class="rank-share">예매 1위 52.89%</span>
          <span class="bar">|</span>
          <span class="dday">개봉 1일전</span>
          <span class="bar">|</span>
          <span class="audience">누적관객 수 0명</span>
        </div>

        <span class="genre">액션</span>
        <span class="bar">|</span>
        <span class="running-time">2시간 9분</span>
        <span class="bar">|</span>
        <span class="filmrate">12세 관람가</span>
      </div>
      <div class="watcha-rating-wrapper">

        <span class="watcha-rating" data-rating="3.9"><span style="display: inline-block; width: 14px; height: 13px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_yellow-75b4463767c036cd19b1bb434167b28e5d91f8d63eaedc84da2ddc5be7b22487.png&quot;) 0px 0px / 14px 13px no-repeat;"></span><span style="display: inline-block; width: 14px; height: 13px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_yellow-75b4463767c036cd19b1bb434167b28e5d91f8d63eaedc84da2ddc5be7b22487.png&quot;) 0px 0px / 14px 13px no-repeat;"></span><span style="display: inline-block; width: 14px; height: 13px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_yellow-75b4463767c036cd19b1bb434167b28e5d91f8d63eaedc84da2ddc5be7b22487.png&quot;) 0px 0px / 14px 13px no-repeat;"></span><span style="display: inline-block; width: 13px; height: 13px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_yellow-75b4463767c036cd19b1bb434167b28e5d91f8d63eaedc84da2ddc5be7b22487.png&quot;) 0px 0px / 14px 13px no-repeat;"></span><span style="display: inline-block; width: 1px; height: 13px; margin-left: 0px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_gray-ab3f922b9014d6e60902dec1d93ae5493f36f7f37971c6791be64c56d903ef63.png&quot;) -13px 0px / 14px 13px no-repeat;"></span><span style="display: inline-block; width: 14px; height: 13px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_gray-ab3f922b9014d6e60902dec1d93ae5493f36f7f37971c6791be64c56d903ef63.png&quot;) 0px 0px / 14px 13px no-repeat;"></span></span>
        <span class="number">3.9</span>
        <span class="eval-count">(653명 참여)</span>
      </div>

      <div class="comment">
        <a href="/user/UXf6tjS2Jf1o/eval/movies">
          <img width="40" height="40" src="http://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_100,w_100/v1493995555/ycj6kxgmjwimhimac1eu.jpg" onerror="loadDefaultImg(this, 'medium');return false;">
        </a>
        <p class="text">
          <a href="/user/UXf6tjS2Jf1o/eval/movies" class="name">영사남 : </a>

            6년만에 나오는 속편인 만큼 제대로 만들어서 내놓을지 궁금하다
+내 생각은 틀린거 같다..;;

        </p>
      </div>


    </div>
    <div class="action-wrapper">
      <div class="movie-title">캐리비안의 해적: 죽은 자는 말이 없다</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mnifcf card grid-1 hei-1 top-0 left-3">
  <div class="poster-wrapper" style="position: relative;">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1495431300/qt3czf0qrhaz0nnfxlcv.jpg" width="100%">


    <div class="top-gradation"></div>


    <div class="predicted-rating">

      <span class="rating">
        <img class="thumb" width="25" height="25" src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/user/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
        <span class="number">3.4</span>
      </span>


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">노무현입니다</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-m5nj8f card grid-1 hei-1 top-1 left-3">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1494335756/ivj6rq72wxwzrp8wxd3u.jpg" width="100%">


    <div class="top-gradation"></div>


    <div class="predicted-rating">

      <span class="rating">
        <img class="thumb" width="25" height="25" src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/user/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
        <span class="number">4.1</span>
      </span>


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">겟 아웃</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mj4rv3 card grid-1 hei-1 top-0 left-4">
  <div class="poster-wrapper" style="position: relative;">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1495432001/y8gg3x7tbvkdw4jbit7i.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">대립군</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mfmxko card grid-1 hei-1 top-1 left-4">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1494190167/yyr58t3svgyfdmmasdxs.jpg" width="100%">


    <div class="top-gradation"></div>


    <div class="predicted-rating">

      <span class="rating">
        <img class="thumb" width="25" height="25" src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/user/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
        <span class="number">2.7</span>
      </span>


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">길</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mli5it card grid-1 hei-1 top-0 left-5">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1493357391/ajzboicnqwnxpdnnkvkf.jpg" width="100%">


    <div class="top-gradation"></div>


    <div class="predicted-rating">

      <span class="rating">
        <img class="thumb" width="25" height="25" src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/user/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
        <span class="number">3.7</span>
      </span>


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">불한당: 나쁜 놈들의 세상</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mkgyyy card grid-1 hei-1 top-1 left-5">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1493065118/mbbkv2hohxhju7zr8h7n.jpg" width="100%">


    <div class="top-gradation"></div>


    <div class="predicted-rating">

      <span class="rating">
        <img class="thumb" width="25" height="25" src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/user/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
        <span class="number">3.5</span>
      </span>


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">극장판 쿠로코의 농구 라스트 게임</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mgdwr4 card grid-1 hei-1 top-0 left-6">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1495055286/fmncmqpi1xpk3whjga0h.jpg" width="100%">


    <div class="top-gradation"></div>


    <div class="predicted-rating">

      <span class="rating">
        <img class="thumb" width="25" height="25" src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/user/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
        <span class="number">3.4</span>
      </span>


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">킹 아서: 제왕의 검</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mbj8df fix-action-box card grid-1 hei-1 top-1 left-6">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1492998762/ryzlxfyhiwnnqiaomtqe.jpg" width="100%">


    <div class="top-gradation"></div>


    <div class="predicted-rating">

      <span class="rating">
        <img class="thumb" width="25" height="25" src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/user/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
        <span class="number">4.2</span>
      </span>


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">보스 베이비</div>
      <div class="rating"><span class="watcha-star half left on" data-value="0.5"></span><span class="watcha-star half right on" data-value="1"></span><span class="watcha-star half left on" data-value="1.5"></span><span class="watcha-star half right on" data-value="2"></span><span class="watcha-star half left on" data-value="2.5"></span><span class="watcha-star half right on" data-value="3"></span><span class="watcha-star half left on" data-value="3.5"></span><span class="watcha-star half right on" data-value="4"></span><span class="watcha-star half left on" data-value="4.5"></span><span class="watcha-star half right on" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mqdtac fix-action-box card grid-1 hei-1 top-0 left-7">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1492668235/eblibowxxfage5wtqohp.jpg" width="100%">


    <div class="top-gradation"></div>


    <div class="predicted-rating">

      <span class="rating">
        <img class="thumb" width="25" height="25" src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/user/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
        <span class="number">4.3</span>
      </span>


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">가디언즈 오브 갤럭시 VOL. 2</div>
      <div class="rating"><span class="watcha-star half left on" data-value="0.5"></span><span class="watcha-star half right on" data-value="1"></span><span class="watcha-star half left on" data-value="1.5"></span><span class="watcha-star half right on" data-value="2"></span><span class="watcha-star half left on" data-value="2.5"></span><span class="watcha-star half right on" data-value="3"></span><span class="watcha-star half left on" data-value="3.5"></span><span class="watcha-star half right on" data-value="4"></span><span class="watcha-star half left on" data-value="4.5"></span><span class="watcha-star half right on" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-msqi5e card grid-1 hei-1 top-1 left-7">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1493065157/fppk7bors8tgojmamzs8.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">나의 붉은 고래</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-m2hjlm card grid-1 hei-1 top-0 left-8">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1495439732/ezbff1ybrhpei6uzemy7.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">원더 우먼</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mnm2sd fix-action-box card grid-1 hei-1 top-1 left-8">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1491873892/rpg4oeb27hhu058fsmpi.jpg" width="100%">


    <div class="top-gradation"></div>


    <div class="predicted-rating">

      <span class="rating">
        <img class="thumb" width="25" height="25" src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/user/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
        <span class="number">3.6</span>
      </span>


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">보안관</div>
      <div class="rating"><span class="watcha-star half left on" data-value="0.5"></span><span class="watcha-star half right on" data-value="1"></span><span class="watcha-star half left on" data-value="1.5"></span><span class="watcha-star half right on" data-value="2"></span><span class="watcha-star half left on" data-value="2.5"></span><span class="watcha-star half right on" data-value="3"></span><span class="watcha-star half left on" data-value="3.5"></span><span class="watcha-star half right on" data-value="4"></span><span class="watcha-star half left on" data-value="4.5"></span><span class="watcha-star half right on" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-m5zzt2 card grid-1 hei-1 top-0 left-9">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1494564927/ot1w6s10vxotyylspgro.jpg" width="100%">


    <div class="top-gradation"></div>


    <div class="predicted-rating">

      <span class="rating">
        <img class="thumb" width="25" height="25" src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/user/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
        <span class="number">3.2</span>
      </span>


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">네루다</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-my2z2m fix-action-box card grid-1 hei-1 top-1 left-9">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1491962030/mexmkiofbgn4qblhlute.jpg" width="100%">


    <div class="top-gradation"></div>


    <div class="predicted-rating">

      <span class="rating">
        <img class="thumb" width="25" height="25" src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/user/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
        <span class="number">3.4</span>
      </span>


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">임금님의 사건수첩</div>
      <div class="rating"><span class="watcha-star half left on" data-value="0.5"></span><span class="watcha-star half right on" data-value="1"></span><span class="watcha-star half left on" data-value="1.5"></span><span class="watcha-star half right on" data-value="2"></span><span class="watcha-star half left on" data-value="2.5"></span><span class="watcha-star half right on" data-value="3"></span><span class="watcha-star half left on" data-value="3.5"></span><span class="watcha-star half right on" data-value="4"></span><span class="watcha-star half left on" data-value="4.5"></span><span class="watcha-star half right on" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mt136i card grid-1 hei-1 top-0 left-10">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1493359049/cq4e2cihycwohu8nwgtt.jpg" width="100%">


    <div class="top-gradation"></div>


    <div class="predicted-rating">

      <span class="rating">
        <img class="thumb" width="25" height="25" src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/user/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
        <span class="number">4.2</span>
      </span>


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">에이리언: 커버넌트</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-m3rxy0 card grid-1 hei-1 top-1 left-10">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1495055139/rd7ly79cacrl36iowa4y.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">꿈의 제인</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mtm5pq card grid-1 hei-1 top-0 left-11">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1494924251/o5uikjc4iph1ree90u47.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">나는 고양이로소이다</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-muvzr7 card grid-1 hei-1 top-1 left-11">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1490854173/ugfajwalru9ljxmzsni3.jpg" width="100%">


    <div class="top-gradation"></div>


    <div class="predicted-rating">

      <span class="rating">
        <img class="thumb" width="25" height="25" src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/user/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
        <span class="number">3.1</span>
      </span>


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">너와 100번째 사랑</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="clear"></div></ul></div></div><a class="view-all-link" href="/boxoffice">모두보기</a><span class="prev-btn" style="display: none;">이전</span><span class="next-btn">다음</span></li>
    <li id="evalmore-section" class="evalmore responsive-mask section"><h3 class="title">여태 살면서 나는 영화를 몇편이나 봤을까?</h3><div class="slider-wrapper"><div class="vertical-list"><ul class="grid-container" style="position: relative; width: 1680px; height: 670px;"><div id="evalmore-cateogries-card" class="card grid-1 hei-2 top-0 left-0">
  <ul class="categories">


    <li class="category on" data-category-id="19">
      <span class="text" href="#">
        역대 100만 관객 돌파 영화
        <span class="highlight"></span>
      </span>
    </li>

    <li class="category " data-category-id="35">
      <span class="text" href="#">
        왓챠 평균별점 TOP 영화
        <span class="highlight"></span>
      </span>
    </li>

    <li class="category " data-category-id="22">
      <span class="text" href="#">
        전세계 흥행 TOP 영화
        <span class="highlight"></span>
      </span>
    </li>

    <li class="category " data-category-id="18">
      <span class="text" href="#">
        국내 누적관객수 TOP 영화
        <span class="highlight"></span>
      </span>
    </li>

    <li class="category " data-category-id="28">
      <span class="text" href="#">
        전문가 고평점 영화
        <span class="highlight"></span>
      </span>
    </li>

    <li class="category " data-category-id="27">
      <span class="text" href="#">
        저예산 독립 영화
        <span class="highlight"></span>
      </span>
    </li>

    <li class="category " data-category-id="52">
      <span class="text" href="#">
        고전 영화
        <span class="highlight"></span>
      </span>
    </li>

    <li class="category " data-category-id="26">
      <span class="text" href="#">
        느와르 영화
        <span class="highlight"></span>
      </span>
    </li>

    <li class="category " data-category-id="23">
      <span class="text" href="#">
        슈퍼 히어로 영화
        <span class="highlight"></span>
      </span>
    </li>

    <li class="category " data-category-id="24">
      <span class="text" href="#">
        스포츠 영화
        <span class="highlight"></span>
      </span>
    </li>

    <li class="category " data-category-id="36">
      <span class="text" href="#">
        범죄
        <span class="highlight"></span>
      </span>
    </li>

    <li class="category " data-category-id="37">
      <span class="text" href="#">
        드라마
        <span class="highlight"></span>
      </span>
    </li>

    <li class="category " data-category-id="38">
      <span class="text" href="#">
        코미디
        <span class="highlight"></span>
      </span>
    </li>


    <li class="viewall">
      <a href="/evalmore">모두보기</a>
    </li>

  </ul>
</div><div class="movie-card size-1x1 poster-type base_movie  user-action-m5nj8f card grid-1 hei-1 top-0 left-1">
  <div class="poster-wrapper" style="position: relative;">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1494335756/ivj6rq72wxwzrp8wxd3u.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">겟 아웃</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  <div id="watcha-tooltip" class="eval-tooltip rating-tooltip" style="z-index: 10; left: 7px; top: 250.281px; display: none;">
  <div class="watcha-tooltip-content">최악이에요!</div>
  <div class="arrow" style="left: 26.5px;"></div>
</div></div>



</div><div class="movie-card size-1x1 poster-type base_movie  user-action-mt136i card grid-1 hei-1 top-1 left-1">
  <div class="poster-wrapper" style="position: relative;">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1493359049/cq4e2cihycwohu8nwgtt.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">에이리언: 커버넌트</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type base_movie  user-action-m5zsxc card grid-1 hei-1 top-0 left-2">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1481536359/twdd1m9zqrn3re9olzui.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">로그 원: 스타워즈 스토리</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type base_movie  user-action-m54e77 card grid-1 hei-1 top-1 left-2">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1482392968/m1gklniuwie0ndvspqor.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">씽</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type base_movie  user-action-m8kzh7 card grid-1 hei-1 top-0 left-3">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1477975644/d7dcwot2dywtjfrjop0d.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">마스터</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type base_movie  user-action-mxfqgl card grid-1 hei-1 top-1 left-3">
  <div class="poster-wrapper" style="position: relative;">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1480308498/siaye3xxvnczy5tmvyvm.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">당신, 거기 있어줄래요</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type base_movie  user-action-m0uer2 card grid-1 hei-1 top-0 left-4">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1479374075/qkwwzvsz5z1vag3dy1ef.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">판도라</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type base_movie  user-action-mt77gp card grid-1 hei-1 top-1 left-4">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1480382093/ha1knjr9iilixtwkltpw.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">라라랜드</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type base_movie  user-action-m5mt3m card grid-1 hei-1 top-0 left-5">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1480484412/xx4obp0o68qd28wh0o6s.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">미씽: 사라진 여자</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type base_movie  user-action-m5qjnb card grid-1 hei-1 top-1 left-5">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1478138485/jqqt2v6lumlwjbfh8t7u.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">형</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type base_movie  user-action-m56i7d card grid-1 hei-1 top-0 left-6">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1473422364/azvojc3qzjclzbsstjyj.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">신비한 동물사전</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="movie-card size-1x1 poster-type base_movie  user-action-mdn2np card grid-1 hei-1 top-1 left-6">
  <div class="poster-wrapper">

    <img class="poster" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_400,q_80,w_280/v1475135990/atbtpfedajswufvxsnqb.jpg" width="100%">



    <div class="predicted-rating">


    </div>

    <div class="detail-opener gradation"></div>
    <div class="bottom">

    </div>
    <div class="action-wrapper">
      <div class="movie-title">닥터 스트레인지</div>
      <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>

      <div class="wish-comment">
        <div class="wish">
          <span class="icon"></span>
          보고싶어요
        </div>
        <div class="comment">
          <span class="icon"></span>
          <span class="text">코멘트 쓰기</span>
        </div>
      </div>
      <div class="meh">관심없어요</div>


    </div>
  </div>



</div><div class="clear"></div></ul></div></div><a class="view-all-link" href="/evalmore">모두보기</a><span class="prev-btn" style="display: none;">이전</span><span class="next-btn">다음</span></li>
    <li id="nowaday-section" class="nowaday responsive-mask"></li>
    <li id="media-section" class="media responsive-mask section"><h3 class="title">왓챠플레이 신작 &amp; 박스오피스 신작</h3><div class="slider-wrapper"><div class="vertical-list"><ul class="grid-container" style="position: relative; width: 4560px; height: 670px;"><div class="news card grid-2 hei-2 top-0 left-0">
  <h5 class="head has-paging">
    왓챠플레이에 새로 올라온 작품
    <div class="paging">
      <span class="prev">&lt;</span>
      <span class="next">&gt;</span>
    </div>
  </h5>
  <div id="news-list-wrapper"><ul class="news-list show">

  <li class="item">
    <a class="news-link" href="https://play.watcha.net/contents/ta0464" target="_blank">
      <img class="img" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1491973398/qelowwt533hgsrfrdnpy.jpg" width="100" height="80">
      <dt class="news-title">한국기행 - 능선기행</dt>
      <dd class="news-desc">
        거대한 용의 비늘처럼 굽이치는 백두대간부터 마을에 너울거리는 산등성이까지 하늘길은 아찔하지만 황홀하다. 설악에서 통영까지 정상의 길에서 걷는 능선 기행을 따라 가본다.
      </dd>
    </a>
  </li>

  <li class="item">
    <a class="news-link" href="https://play.watcha.net/contents/t9be64" target="_blank">
      <img class="img" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1491971960/df6vnuuwbzwruluw06sx.jpg" width="100" height="80">
      <dt class="news-title">한국기행 - 기운찬 로드 </dt>
      <dd class="news-desc">
        바다에서 펄떡이는 물고기들, 땅을 뚫고 강한 생명력을 보여주는 온갖 작물들, 장마와 폭염에도 귀한 여름걷이를 하는 사람들. 뜨거운 여름을 더 뜨겁게 보내는 기운찬 로드로 떠난다.
      </dd>
    </a>
  </li>

  <li class="item">
    <a class="news-link" href="https://play.watcha.net/contents/t5b115" target="_blank">
      <img class="img" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1491976801/g0ztyf4r4uktvayvlodv.jpg" width="100" height="80">
      <dt class="news-title">한국기행 - 가을, 걷고 싶을지도</dt>
      <dd class="news-desc">
        한국의 비경을 찾아 떠나는 여행. 높디높은 하늘과 기분 좋은 바람으로 걷기 좋은 계절. 붉게 물든 단풍과 황금색 들판, 형형색색을 자랑하는 가을에 걷고 싶은 곳으로 여행을 떠난다....
      </dd>
    </a>
  </li>

  <li class="item">
    <a class="news-link" href="https://play.watcha.net/contents/t7d9a1" target="_blank">
      <img class="img" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1494924078/cltjb1bmhzvfitdirin7.jpg" width="100" height="80">
      <dt class="news-title">세계테마기행 - 사막의 유혹, 나미비아</dt>
      <dd class="news-desc">
        아프리카 남서 해안에 위치한 나미비아. 바다와 맞닿아 세계에서 가장 신비로운 사막으로 꼽히는 나미브와 세계 2대 협곡 피시리버 캐니언까지, 나미비아의 경이로운 자연을 만난다.
      </dd>
    </a>
  </li>

  <li class="item">
    <a class="news-link" href="https://play.watcha.net/contents/t17dc3" target="_blank">
      <img class="img" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1491975175/xmflmzyvwp58da6blulw.jpg" width="100" height="80">
      <dt class="news-title">세계테마기행 - 남아프리카 공화국 로드기행 </dt>
      <dd class="news-desc">
        아프리카 대륙 최남단, 아름답고 웅장한 자연 풍광과 원주민들이 간직한 역사의 흔적을 만날 수 있는 많은 길이 혈관처럼 뻗어있는 남아프리카공화국으로 여행을 떠난다.
      </dd>
    </a>
  </li>

</ul><ul class="news-list">

  <li class="item">
    <a class="news-link" href="https://play.watcha.net/contents/t17dc3" target="_blank">
      <img class="img" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1491975175/xmflmzyvwp58da6blulw.jpg" width="100" height="80">
      <dt class="news-title">세계테마기행 - 남아프리카 공화국 로드기행 </dt>
      <dd class="news-desc">
        아프리카 대륙 최남단, 아름답고 웅장한 자연 풍광과 원주민들이 간직한 역사의 흔적을 만날 수 있는 많은 길이 혈관처럼 뻗어있는 남아프리카공화국으로 여행을 떠난다.
      </dd>
    </a>
  </li>

  <li class="item">
    <a class="news-link" href="https://play.watcha.net/contents/te5754" target="_blank">
      <img class="img" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1493114207/gdoyrz7ox3ebtx0jae1a.jpg" width="100" height="80">
      <dt class="news-title">EBS 스페이스 공감</dt>
      <dd class="news-desc">
        EBS 스페이스에서 국내외 아티스트의 콘서트를 열고, 그 공연 실황과 인터뷰, 아티스트의 정보를 편집하여 방송하는 음악 프로그램
      </dd>
    </a>
  </li>

  <li class="item">
    <a class="news-link" href="https://play.watcha.net/contents/tcd4a3" target="_blank">
      <img class="img" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1491973075/hac0rpre5dtcuxj5c3ai.jpg" width="100" height="80">
      <dt class="news-title">세계테마기행 - 낭만 알프스 기행, 스위스 </dt>
      <dd class="news-desc">
        세계적으로 유명한 알프스 산맥과 푸른 초원, 보석처럼 반짝이는 호수의 향연이 펼쳐지는 대자연과 함께 주변 4개국의 여러 문화가 섞여 있는 독특한 풍광의 스위스로 여행을 떠난다.
      </dd>
    </a>
  </li>

  <li class="item">
    <a class="news-link" href="https://play.watcha.net/contents/tcb597" target="_blank">
      <img class="img" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1494488303/uc2vn5x0mjehg9rjioen.jpg" width="100" height="80">
      <dt class="news-title">다큐프라임 - 대통령은 누구인가</dt>
      <dd class="news-desc">
        천년 간의 절대왕정 이후, 인류역사상 존재하지 않았던 대통령은 어떻게 탄생했는가? 대통령제의 기원과 역사를 돌아본다.
      </dd>
    </a>
  </li>

  <li class="item">
    <a class="news-link" href="https://play.watcha.net/contents/t71145" target="_blank">
      <img class="img" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1492488226/xprjoblyhvnfhoqrzp2y.jpg" width="100" height="80">
      <dt class="news-title">지식채널e</dt>
      <dd class="news-desc">
        단편적인 지식을 입체적으로 조명하여 바쁘게 살아가는 현대인의 삶 가운데 잠시 의미 있는 생각을 해볼 수 있는 화두를 던지는 프로그램
      </dd>
    </a>
  </li>

</ul></div>
</div><div class="trailer card grid-1 hei-1 top-0 left-2">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1495419431/zkxmpzaqtaesoqsl2ijb.jpg">
  <div class="movie-desc">
    <span class="trailer-title">꿈의 제인 예고편</span>
    <div class="trailer-desc">
      <span class="year">2016</span>
      <span class="main_genre">, 드라마</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-2">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1463655058/m1v2tr-109448.jpg">
  <div class="movie-desc">
    <span class="trailer-title">함정 예고편</span>
    <div class="trailer-desc">
      <span class="year">2015</span>
      <span class="main_genre">, 스릴러</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-0 left-3">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1470893439/qxijfzouss63em4ztfgu.jpg">
  <div class="movie-desc">
    <span class="trailer-title">베테랑 예고편</span>
    <div class="trailer-desc">
      <span class="year">2015</span>
      <span class="main_genre">, 범죄</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-3">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1488268194/jwdrk5nundyeruca69ht.jpg">
  <div class="movie-desc">
    <span class="trailer-title">꼬마돼지 베이브의 대모험 예고편</span>
    <div class="trailer-desc">
      <span class="year">2017</span>
      <span class="main_genre">, 애니메이션</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-0 left-4">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1491894361/vuslvpwyv1ploaxlegf2.jpg">
  <div class="movie-desc">
    <span class="trailer-title">대립군 예고편</span>
    <div class="trailer-desc">
      <span class="year">2017</span>
      <span class="main_genre">, 드라마</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-4">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1491816753/zg4fuydlzhvbt5wiwilp.jpg">
  <div class="movie-desc">
    <span class="trailer-title">길 예고편</span>
    <div class="trailer-desc">
      <span class="year">2017</span>
      <span class="main_genre">, 드라마</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-0 left-5">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1485241147/hckeqepmcjbfy9fce1sv.jpg">
  <div class="movie-desc">
    <span class="trailer-title">내부자들 예고편</span>
    <div class="trailer-desc">
      <span class="year">2015</span>
      <span class="main_genre">, 범죄</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-5">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1493288310/wmggjl70xeqibdddxzcq.jpg">
  <div class="movie-desc">
    <span class="trailer-title">보스 베이비 예고편</span>
    <div class="trailer-desc">
      <span class="year">2017</span>
      <span class="main_genre">, 애니메이션</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-0 left-6">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1493284727/wgebld6dnmmdkmahbzdd.jpg">
  <div class="movie-desc">
    <span class="trailer-title">겟 아웃 예고편</span>
    <div class="trailer-desc">
      <span class="year">2017</span>
      <span class="main_genre">, 공포</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-6">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1493091272/no5kmm5vim5ew2lkej2c.jpg">
  <div class="movie-desc">
    <span class="trailer-title">극장판 쿠로코의 농구 라스트 게임 예고편</span>
    <div class="trailer-desc">
      <span class="year">2017</span>
      <span class="main_genre">, 애니메이션</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-0 left-7">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1495418315/r9m67xdsaixfb5ksx5cs.jpg">
  <div class="movie-desc">
    <span class="trailer-title">나의 붉은 고래 예고편</span>
    <div class="trailer-desc">
      <span class="year">2016</span>
      <span class="main_genre">, 애니메이션</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-7">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1472012254/yurmyna7hi63ngfpdswn.jpg">
  <div class="movie-desc">
    <span class="trailer-title">성난 변호사 예고편</span>
    <div class="trailer-desc">
      <span class="year">2015</span>
      <span class="main_genre">, 범죄</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-0 left-8">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1471420336/tky5pdikwbftiryxmoti.jpg">
  <div class="movie-desc">
    <span class="trailer-title">사도 예고편</span>
    <div class="trailer-desc">
      <span class="year">2014</span>
      <span class="main_genre">, 드라마</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-8">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1489496045/gh2xxk9qiwprwdczzzl2.jpg">
  <div class="movie-desc">
    <span class="trailer-title">너와 100번째 사랑 예고편</span>
    <div class="trailer-desc">
      <span class="year">2017</span>
      <span class="main_genre">, 미상</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-0 left-9">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1463603592/mb4i55-53068.jpg">
  <div class="movie-desc">
    <span class="trailer-title">앤트맨 예고편</span>
    <div class="trailer-desc">
      <span class="year">2015</span>
      <span class="main_genre">, 액션</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-9">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1491212593/jhrglimj4dseg7f79z8s.jpg">
  <div class="movie-desc">
    <span class="trailer-title">영도 예고편</span>
    <div class="trailer-desc">
      <span class="year">2014</span>
      <span class="main_genre">, 드라마</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-0 left-10">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1493495306/fvqweyslht61bdooevpa.jpg">
  <div class="movie-desc">
    <span class="trailer-title">임금님의 사건수첩 예고편</span>
    <div class="trailer-desc">
      <span class="year">2016</span>
      <span class="main_genre">, 코미디</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-10">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1493361751/okqoxwiowur2l79uq1dv.jpg">
  <div class="movie-desc">
    <span class="trailer-title">에이리언: 커버넌트 예고편</span>
    <div class="trailer-desc">
      <span class="year">2017</span>
      <span class="main_genre">, SF</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-0 left-11">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1463652085/mg2ccw-105534.jpg">
  <div class="movie-desc">
    <span class="trailer-title">사랑이 이긴다 예고편</span>
    <div class="trailer-desc">
      <span class="year">2014</span>
      <span class="main_genre">, 가족</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-11">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1493357785/qfjwnt8saawmhhhxoaol.jpg">
  <div class="movie-desc">
    <span class="trailer-title">불한당: 나쁜 놈들의 세상 예고편</span>
    <div class="trailer-desc">
      <span class="year">2016</span>
      <span class="main_genre">, 범죄</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-0 left-12">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1463653022/md3bme-106731.jpg">
  <div class="movie-desc">
    <span class="trailer-title">서부전선 예고편</span>
    <div class="trailer-desc">
      <span class="year">2015</span>
      <span class="main_genre">, 전쟁</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-12">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1493668811/xyhnxhj41jdjhwisk7e4.jpg">
  <div class="movie-desc">
    <span class="trailer-title">원더 우먼 예고편</span>
    <div class="trailer-desc">
      <span class="year">2017</span>
      <span class="main_genre">, 액션</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-0 left-13">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1463649922/mnvxxu-102558.jpg">
  <div class="movie-desc">
    <span class="trailer-title">스피드 예고편</span>
    <div class="trailer-desc">
      <span class="year">2014</span>
      <span class="main_genre">, 드라마</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-13">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1490939866/cn6yjzdvt7lmut6agg49.jpg">
  <div class="movie-desc">
    <span class="trailer-title">히말라야 예고편</span>
    <div class="trailer-desc">
      <span class="year">2015</span>
      <span class="main_genre">, 드라마</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-0 left-14">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1494564924/bydkeafwrhdvfpzn3m4m.jpg">
  <div class="movie-desc">
    <span class="trailer-title">네루다 예고편</span>
    <div class="trailer-desc">
      <span class="year">2016</span>
      <span class="main_genre">, 드라마</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-14">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1493273116/jxycp3ohwxbefrlcucwa.jpg">
  <div class="movie-desc">
    <span class="trailer-title">가디언즈 오브 갤럭시 VOL. 2 예고편</span>
    <div class="trailer-desc">
      <span class="year">2017</span>
      <span class="main_genre">, 액션</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-0 left-15">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1495431422/e57s7vbcxtyeroazaf7a.jpg">
  <div class="movie-desc">
    <span class="trailer-title">노무현입니다 예고편</span>
    <div class="trailer-desc">
      <span class="year">2017</span>
      <span class="main_genre">, 다큐멘터리</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-15">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1493183192/cihsqbibqmk7pwbxyphw.jpg">
  <div class="movie-desc">
    <span class="trailer-title">킹 아서: 제왕의 검 예고편</span>
    <div class="trailer-desc">
      <span class="year">2017</span>
      <span class="main_genre">, 액션</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-0 left-16">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1483947679/e26tuf6zkztudboay7fm.jpg">
  <div class="movie-desc">
    <span class="trailer-title">세상의 끝에서 커피 한 잔 예고편</span>
    <div class="trailer-desc">
      <span class="year">2014</span>
      <span class="main_genre">, 드라마</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-16">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1493275338/pnorqd20mqxj3pm8eg0o.jpg">
  <div class="movie-desc">
    <span class="trailer-title">보안관 예고편</span>
    <div class="trailer-desc">
      <span class="year">2016</span>
      <span class="main_genre">, 범죄</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-0 left-17">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1474364779/ygr8eosfnbixazsjmgyr.jpg">
  <div class="movie-desc">
    <span class="trailer-title">도리화가 예고편</span>
    <div class="trailer-desc">
      <span class="year">2015</span>
      <span class="main_genre">, 드라마</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-17">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1494555564/zvbkw1dpyb1rpoxkyxgp.jpg">
  <div class="movie-desc">
    <span class="trailer-title">캐리비안의 해적: 죽은 자는 말이 없다 예고편</span>
    <div class="trailer-desc">
      <span class="year">2017</span>
      <span class="main_genre">, 액션</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-0 left-18">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1494576921/dcgfvalcgl9rhmnjzxhh.jpg">
  <div class="movie-desc">
    <span class="trailer-title">나는 고양이로소이다 예고편</span>
    <div class="trailer-desc">
      <span class="year">2017</span>
      <span class="main_genre">, 다큐멘터리</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="trailer card grid-1 hei-1 top-1 left-18">
  <img width="220" height="151" src="https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1479442041/mz2hc7-45490.jpg">
  <div class="movie-desc">
    <span class="trailer-title">그날의 분위기 예고편</span>
    <div class="trailer-desc">
      <span class="year">2015</span>
      <span class="main_genre">, 로맨스/멜로</span>
      <span class="duration"></span>
    </div>
  </div>
</div><div class="clear"></div></ul></div></div><span class="prev-btn" style="display: none;">이전</span><span class="next-btn">다음</span></li>
    <li id="genre-section" class="genres responsive-mask section"><h3 class="title">장르별 추천</h3><div class="slider-wrapper"><div class="vertical-list"><ul class="grid-container" style="position: relative; width: 2400px; height: 340px;"><div class="genre card grid-1 hei-1 mini top-0 left-0" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1463399383/mw4vzn-9675.jpg);">
  <a href="/recommendation?genre=드라마">
    <div class="bg"></div>
    <span class="text">드라마</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-1 left-0" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1490862151/mqy3hj-13421.jpg);">
  <a href="/recommendation?genre=다큐멘터리">
    <div class="bg"></div>
    <span class="text">다큐멘터리</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-0 left-1" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1463399383/mw4vzn-9675.jpg);">
  <a href="/recommendation?genre=코미디">
    <div class="bg"></div>
    <span class="text">코미디</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-1 left-1" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1490335864/m2vxj4-6039.jpg);">
  <a href="/recommendation?genre=액션">
    <div class="bg"></div>
    <span class="text">액션</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-0 left-2" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1463554299/mvzdp0-15819.jpg);">
  <a href="/recommendation?genre=애니메이션">
    <div class="bg"></div>
    <span class="text">애니메이션</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-1 left-2" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1490336748/m5i704-2629.jpg);">
  <a href="/recommendation?genre=공포">
    <div class="bg"></div>
    <span class="text">공포</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-0 left-3" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1463385742/m2ww4k-2506.jpg);">
  <a href="/recommendation?genre=스릴러">
    <div class="bg"></div>
    <span class="text">스릴러</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-1 left-3" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1490857547/ma5rxk-2039.jpg);">
  <a href="/recommendation?genre=로맨틱코미디">
    <div class="bg"></div>
    <span class="text">로맨틱코미디</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-0 left-4" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1490335864/m2vxj4-6039.jpg);">
  <a href="/recommendation?genre=범죄·느와르">
    <div class="bg"></div>
    <span class="text">범죄·느와르</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-1 left-4" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1495526380/ow1y7dyd870eakrkeit0.jpg);">
  <a href="/recommendation?genre=로맨스·멜로">
    <div class="bg"></div>
    <span class="text">로맨스·멜로</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-0 left-5" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1463392503/m3smdg-6107.jpg);">
  <a href="/recommendation?genre=SF">
    <div class="bg"></div>
    <span class="text">SF</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-1 left-5" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1463557772/m0dcoj-17795.jpg);">
  <a href="/recommendation?genre=판타지">
    <div class="bg"></div>
    <span class="text">판타지</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-0 left-6" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1483004958/wadgxz8rgawawwx37cax.jpg);">
  <a href="/recommendation?genre=전쟁">
    <div class="bg"></div>
    <span class="text">전쟁</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-1 left-6" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1463381406/m3v6yf-990.jpg);">
  <a href="/recommendation?genre=가족·아동">
    <div class="bg"></div>
    <span class="text">가족·아동</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-0 left-7" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1463563219/miouah-20877.jpg);">
  <a href="/recommendation?genre=시트콤">
    <div class="bg"></div>
    <span class="text">시트콤</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-1 left-7" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1490346466/motei7-6056.jpg);">
  <a href="/recommendation?genre=시대극">
    <div class="bg"></div>
    <span class="text">시대극</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-0 left-8" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1490334382/m8z5c6-970.jpg);">
  <a href="/recommendation?genre=음악">
    <div class="bg"></div>
    <span class="text">음악</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-1 left-8" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1463380464/mgdnhf-480.jpg);">
  <a href="/recommendation?genre=스포츠">
    <div class="bg"></div>
    <span class="text">스포츠</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-0 left-9" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1490345688/myrr0v-4572.jpg);">
  <a href="/recommendation?genre=틴에이저">
    <div class="bg"></div>
    <span class="text">틴에이저</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-1 left-9" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1463389024/m8gkma-4261.jpg);">
  <a href="/recommendation?genre=재난">
    <div class="bg"></div>
    <span class="text">재난</span>
  </a>
</div><div class="genre card grid-1 hei-1 mini top-0 left-10" style="background-image:url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_300,q_80,w_420/v1463628321/mzsb4x-73904.jpg);">
  <a href="/recommendation?genre=키즈">
    <div class="bg"></div>
    <span class="text">키즈</span>
  </a>
</div><div class="clear"></div></ul></div></div><a class="view-all-link" href="/recommendation">모두보기</a><span class="prev-btn" style="display: none;">이전</span><span class="next-btn">다음</span></li>
  </ol>
