<!DOCTYPE html>
<html>
  <head>
    <title>영화, 그 이상의 감동. GRL</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/slide/MidSlide.css'>
    <script type="text/javascript" src="/javascripts/slide/MidSlide.js"></script>
  </head>
  <body>



    <div class="slider">
    <%
        for(var i=0; i<rows.length; i++)
        {
          var oneItem = rows[i];
    %>
        <div class="slide">
          <img src="<%= oneItem.img_url %>">
        </div>
    <%
        }
    %>
    </div>
    <div class="controls">
      <button class="prev">&lt;</button>
      <button class="next">&gt;</button>
    </div>




  </body>
</html>
