<!DOCTYPE html>
<html>
  <head>
    <title>영화, 그 이상의 감동. GRL</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/movies/Movie-Detail.css'>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js"></script>
    <script type="text/javascript" src="/javascripts/movies/Movie-Detail.js"></script>
  </head>
  <body>

    <div id="fullpage">
        <div class="section one">
          <div class="movie-info">
            <h1>The Amazing Spider-Man 2</h1>
            <p><span class="rating">PG-13</span> 2hr 22min - Action/ Adventure/ Scifi</p>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div><!--stars end-->
            <p>
              When New York is put under siege by Oscorp, it is up to Spider-Man to save the city he swore to protect as well as his loved ones.
            </p>
            <button id="play-btn">
              <i class="fa fa-play-circle"></i> WATCH NOW
            </button>
            <button id="add-btn">ADD TO QUEUE</button>
          </div><!--movie-info end-->
        </div>
        <div class="section two">
          <div class="movie-info">
            <h1>X-Men: Apocalypse</h1>
            <p><span class="rating">PG-13</span> 2hr 24min - Action/ Adventure/ Scifi</p>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half"></i>
            </div><!--stars end-->
            <p>
              After the re-emergence of the world's first mutant, world-destroyer Apocalypse, the X-Men must unite to defeat his extinction level plan.
            </p>
            <button id="play-btn">
              <i class="fa fa-play-circle"></i> WATCH NOW
            </button>
            <button id="add-btn">ADD TO QUEUE</button>
          </div><!--movie-info end-->
        </div>
        <div class="section three">
          <div class="movie-info">
            <h1>Mad Max: Fury Road</h1>
            <p><span class="rating">PG-13</span> 2hr - Action/ Adventure/ Scifi</p>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div><!--stars end-->
            <p>
              A woman rebels against a tyrannical ruler in postapocalyptic Australia in search for her home-land with the help of a group of female prisoners, a psychotic worshipper, and a drifter named Max.
            </p>
            <button id="play-btn">
              <i class="fa fa-play-circle"></i> WATCH NOW
            </button>
            <button id="add-btn">ADD TO QUEUE</button>
          </div><!--movie-info end-->
      </div>
        <div class="section four active">
          <div class="movie-info">
            <h1>Deadpool</h1>
            <p><span class="rating">R</span> 1hr 48min - Action/ Adventure/ Comedy</p>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div><!--stars end-->
            <p>
              A fast-talking mercenary with a morbid sense of humor is subjected to a rogue experiment that leaves him with accelerated healing powers and a quest for revenge.
            </p>
            <button id="play-btn">
              <i class="fa fa-play-circle"></i> WATCH NOW
            </button>
            <button id="add-btn">ADD TO QUEUE</button>
          </div><!--movie-info end-->
      </div>
    </div>









  </body>
</html>
