<!DOCTYPE html>
<html>
  <head>
    <title>영화, 그 이상의 감동. GRL</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/movies/Movies.css'>
    <script type="text/javascript" src="/javascripts/movies/Movies.js"></script>
  </head>
  <body>

    <div class="cards">

      <div class="card">
        <img src="http://movie.phinf.naver.net/20170517_137/1494988360843qAvzP_JPEG/movie_image.jpg">
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>

          <h2>
              <img src="http://tvguide.cablenetcy.net/logos/min_age/18.png">
              불한당: 나쁜 놈들의 세상
              <small>평점 4.5 &nbsp;
                  <span class="stars stars--large">
                    <span style="width: 90%" />
                  </span>
              </small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            여기다가 장르, 감독, 개봉일 이런거~~~ 리드모어 누르면 줄거리랑 영화상세정보로 이동
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn">Read more</a>
            </div>
          </div>
        </div>
      </div>

        <div class="card">
        <img src="http://s4c.cymru/temp/wave2.jpg">
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
              Card title
              <small>Image from unsplash.com</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn">Read more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="http://s4c.cymru/temp/wave3.jpg">
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
              Card title
              <small>Image from unsplash.com</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn">Read more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="http://s4c.cymru/temp/wave2.jpg">
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
              Card title
              <small>Image from unsplash.com</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn">Read more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="http://s4c.cymru/temp/wave3.jpg">
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
              Card title
              <small>Image from unsplash.com</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn">Read more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="http://s4c.cymru/temp/wave1.jpg">
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
              Card title
              <small>Image from unsplash.com</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn">Read more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="http://s4c.cymru/temp/wave3.jpg">
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
              Card title
              <small>Image from unsplash.com</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn">Read more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="http://s4c.cymru/temp/wave1.jpg">
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
              Card title
              <small>Image from unsplash.com</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn">Read more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="http://s4c.cymru/temp/wave2.jpg">
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
              Card title
              <small>Image from unsplash.com</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn">Read more</a>
            </div>
          </div>
        </div>
      </div>

    </div>









  </body>
</html>
