<!DOCTYPE html>
<html>
  <head>
    <title>영화, 그 이상의 감동. GRL</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/movies/Movie-Detail.css'>
    <script type="text/javascript" src="/javascripts/movies/Movie-Detail.js"></script>
  </head>
  <body>











  </body>
</html>
