
<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="https://production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
  <link rel="mask-icon" type="" href="https://production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
  <title>CodePen - Responsive Company Cards</title>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

      <style>
      @charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

*, *::before, *::after { box-sizing: border-box; -webkit-box-sizing: border-box; }
.cf-Cards::after, .cf-Cards::before { content: ' '; display: table; }
.cf-Cards::after { clear: both; }

a {
	text-decoration: none;
	outline: none;
}

.red_Cards {
	color: #ef5350;
}

.blue-Cards {
	color: #0277bd;
}

.orange-Cards {
	color: #fd6b0d;
}

.yellow-Cards {
  color: #e5af0e;
}

.green-Cards {
	color: #2e7d32;
}

.cyan-Cards {
	color: #3f9489;
}

.full-width-Cards {
	position: relative;
	max-width: 906px;
	margin: 20px auto;
}

.col-md-3-Cards {
	width: 100%;
	margin-top: 10px;
}


.Switch-Cards {
	position: relative;
	float: right;
	font-weight: bold;
	color: #fff;
	width: 60px;
	height: 30px;
	border-radius: 15px;
	background: #0990aa;
	cursor: pointer;
	-webkit-transition: background-color 0.3s ease-in-out;
	-moz-transition   : background-color 0.3s ease-in-out;
	-o-transition     : background-color 0.3s ease-in-out;
	-ms-transition    : background-color 0.3s ease-in-out;
}

.Switch-Cards.list {
	background: #fd7117;
}

.Switch-Cards span {
	position: relative;
	display: inline-block;
	width: 25px;
	top: 6px;
}

.Switch-Cards span.on {
	left: 9px;
}

.Switch-Cards span.off {
	left: 6px;
}

.Switch-Cards .Toggle-Cards {
	position: absolute;
	right: 0;
	top: 2px;
	width: 26px;
	height: 26px;
	border-radius: 13px;
	background: #fff;
	z-index: 999;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition   : all 0.3s ease-in-out;
	-o-transition     : all 0.3s ease-in-out;
	-ms-transition    : all 0.3s ease-in-out;
}

.Switch-Cards.list .Toggle-Cards { left: 1px; }
.Switch-Cards.card .Toggle-Cards { left: 33px; }

/* ---- Card View ---- */
.card-view-Cards {
	background: #fff;
	box-shadow        : 0px 1px 1px 0px rgba(204,204,204,0.2);
	float: left;
	width: 292px;
	margin: 5px;
}

.container_Cards {
	border: 1px solid #efefef;
	padding: 15px;
}

.bg-Cards {
	display: block;
	overflow: hidden;
	max-height: 170px;
	max-width: 292px;
	background: #000;
}

.bg-Cards img {
	-webkit-transform: translate3d(0,-5px,0);
	transform: translate3d(0,-5px,0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
	-webkit-transition: opacity 0.35s, transform 0.35s;
}

.bg-Cards:hover img {
	opacity: 0.7;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.tag_name-Cards {
	font-family: 'Roboto Slab', serif;
	font-size  : 12px;
	font-weight: 700;
	letter-spacing: 0.05em;
	margin-bottom: 15px;
	text-transform: uppercase;
}

/* COMPANY INFO ------------------------ */
.c_Cards_logo {
	display: table-cell;
}

.c_Cards_logo img {
	display: inline-block;
	outline: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.c_Cards_info {
	display: table-cell;
	vertical-align: middle;
	padding-top: 5px;
	padding-left: 10px;
	line-height: 18px;
}

.c_Cards_name {
	font-size: 20px;
	font-weight: 500;
	color: #3c3c3c;
}

.c_Cards_industry {
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.05em;
	color: #7e8890;
}

.card-view-Cards #c_Cards_stars, #c_Cards_stars span { /* white star bottom */
	display: inline-block;
	background: url('http://s15.postimg.org/igu2opvh3/stars.png') 0 -12px repeat-x;
	width: 60px;
	height: 12px;
}

.card-view-Cards #c_Cards_stars span { /* orange-Cards stars overlay  - set width by JS code */
	background-position: 0 0;
	vertical-align: super;
}

.c_Cards_num {
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	vertical-align: super;
}

.c_Cards_content {
	margin-top: -10px;
}

.c_Cards_content p {
	line-height: 21px;
}

.c_Cards_content .title {
	color: #484848;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.02em;
}

.c_Cards_content .review {
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.05em;
	margin-top: -10px;
}

 /* user_Cards INFO ------------------------ */
.user_Cards .user_Cards_avatar img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.user_Cards .user_Cards_avatar {
	display: table-cell;
	vertical-align: middle;
}

.user_Cards .user_Cards_info {
	display: table-cell;
	vertical-align: middle;
	color: rgba(0,0,0,0.35);
	font-size: 14px;
	line-height: 1.4;
	padding-left: 10px;
}

.user_Cards .user_Cards_name {
	font-weight: 500;
}

/* ---- List View ---- */
.list-view-Cards {
	background: #fff;
	box-shadow        : 0px 1px 1px 0px rgba(204,204,204,0.2);
	float: left;
	margin: 5px;
}

.list-view-Cards:last-child {
	margin-bottom: 20px;
}

.list-view-Cards .container_Cards {
	border: 1px solid #efefef;
	padding: 15px;
}

.list-view-Cards .bg-Cards {
	display: none;
}

.list-view-Cards .bg-Cards img {
	-webkit-transform: translate3d(0,-5px,0);
	transform: translate3d(0,-5px,0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
	-webkit-transition: opacity 0.35s, transform 0.35s;
}

.list-view-Cards .bg-Cards:hover img {
	opacity: 0.7;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.list-view-Cards .tag_name-Cards {
	font-family: 'Roboto Slab', serif;
	font-size  : 12px;
	font-weight: 700;
	letter-spacing: 0.05em;
	margin-bottom: 10px;
	text-transform: uppercase;
}

/* COMPANY INFO ------------------------ */
.list-view-Cards .c_Cards_logo {
	display: none;
}

.list-view-Cards .c_Cards_logo img {
	display: none;
}

.list-view-Cards .c_Cards_info {
	display: table-cell;
	vertical-align: middle;
	padding-top: 5px;
	padding-left: 0;
	line-height: 18px;
}

.list-view-Cards .c_Cards_name {
	font-size: 20px;
	font-weight: 500;
	color: #3c3c3c;
}

.list-view-Cards .c_Cards_industry {
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.05em;
	color: #7e8890;
}

.list-view-Cards #c_Cards_stars, #c_Cards_stars span { /* white star bottom */
	display: inline-block;
	background: url('http://s15.postimg.org/igu2opvh3/stars.png') 0 -12px repeat-x;
	width: 60px;
	height: 12px;
}

.list-view-Cards #c_Cards_stars span { /* orange-Cards stars overlay  - set width by JS code */
	background-position: 0 0;
	vertical-align: super;
}

.list-view-Cards .c_Cards_num {
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	vertical-align: super;
}

.list-view-Cards .c_Cards_content {
	margin-top: -15px;
}

.list-view-Cards .c_Cards_content p {
	line-height: 21px;
}

.list-view-Cards .c_Cards_content .title {
	color: #484848;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.02em;
}

.list-view-Cards .c_Cards_content .review {
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.05em;
	margin-top: -10px;
}

 /* user_Cards INFO ------------------------ */
.list-view-Cards .user_Cards .user_Cards_avatar img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.user_Cards .user_Cards_avatar {
	display: table-cell;
	vertical-align: middle;
}

.list-view-Cards .user_Cards .user_Cards_info {
	display: table-cell;
	vertical-align: middle;
	color: rgba(0,0,0,0.35);
	font-size: 14px;
	line-height: 1.4;
	padding-left: 10px;
}

.list-view-Cards .user_Cards .user_Cards_name {
	font-weight: 500;
}

@media screen and (max-width: 920px) and (min-width: 621px) {
	.full-width-Cards {
		max-width: 604px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 620px){
	.full-width-Cards {
		max-width: 302px;
		margin-left: auto;
		margin-right: auto;
	}
}
    </style>

  <script>
  window.console = window.console || function(t) {};
</script>



  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>

</head>


<body>
  <div class="full-width-Cards">

    <div class='cf-Cards'>
      <div class="Switch-Cards card">
        <div class="Toggle-Cards"></div>
        <span class="on"><i class="fa fa-th"></i></span>
        <span class="off"><i class="fa fa-th-list"></i></span>
      </div>
    </div>

    <div class="col-md-3-Cards">

      <div class="card-view-Cards">
          <div class='bg-Cards'>
            <img src="http://s4.postimg.org/ysci5cbcd/com1.jpg" alt="company image">
          </div>
        <div class="container_Cards">
          <a rel="nofollow" rel="noreferrer"href='#'><div class="tag_name-Cards red_Cards">work / life balance</div></a>
          <div class="company">
            <div class="c_Cards_logo">
              <a rel="nofollow" rel="noreferrer"href="#"><img src="http://s10.postimg.org/k7scmco79/focuslab.jpg" alt="Focus Lab"></a>
            </div>
            <div class="c_Cards_info">
              <a rel="nofollow" rel="noreferrer"href="#" class="c_Cards_name">Focus Lab</a><br>
              <span class="c_Cards_industry">Digital Media</span><br>
              <span id="c_Cards_stars" data-star="3.5"></span>
              <div class="c_Cards_num">3.5</div >
            </div>
            <div class="c_Cards_content">
              <a rel="nofollow" rel="noreferrer"href='#' class="title"><p>The most briliant company that I’ve ever worked for</p></a>
              <p class="review">Amazing opportunities for any person. The projects we are given always stress new and innovating ideas that constantly challenge ourselves to improve our ...</p>
            </div>
          </div> <!-- end .company -->

          <div class="user_Cards">
            <div class="user_Cards_avatar">
              <img src="http://s4.postimg.org/la5lt1z6x/image.jpg" alt="Bill Kenny">
            </div>
            <div class="user_Cards_info">
              <a rel="nofollow" rel="noreferrer"href="#" class="user_Cards_name orange-Cards">Bill Kenny</a> • May 30, 2015<br>Current Brand Director
            </div>
          </div> <!-- end .user_Cards -->
        </div> <!-- end .container_Cards -->
      </div> <!-- end card -->

      <div class="card-view-Cards">
        <div class="container_Cards">
          <a rel="nofollow" rel="noreferrer"href='#'><div class="tag_name-Cards blue-Cards">Salary &amp; Benefit</div></a>
          <div class="company">
            <div class="c_Cards_logo">
              <a rel="nofollow" rel="noreferrer"href="#"><img src="http://s24.postimg.org/a4jaok74x/lo2.jpg" alt="SSS"></a>
            </div>
            <div class="c_Cards_info">
              <a rel="nofollow" rel="noreferrer"href="#" class="c_Cards_name">Silicon Straits Saigon</a><br>
              <span class="c_Cards_industry">Information Technology</span><br>
              <span id="c_Cards_stars" data-star="4"></span>
              <div class="c_Cards_num">4.0</div >
            </div>
            <div class="c_Cards_content">
              <a rel="nofollow" rel="noreferrer"href='#' class="title"><p>Enjoying myself so much I no longer call it work</p></a>
              <p class="review">Because we all love our job, we're a super passionate team and we always look out for each other. That passion really shows, from the general way our business is ...</p>
            </div>
          </div> <!-- end .company -->
          <div class="user_Cards">
            <div class="user_Cards_avatar">
              <img src="http://s1.postimg.org/48vr8yjaz/image.gif" alt="Kent Nguyen">
            </div>
            <div class="user_Cards_info">
              <a rel="nofollow" rel="noreferrer"href="#" class="user_Cards_name orange-Cards">Kent nguyen</a> • May 30, 2015<br>Current CEO
            </div>
          </div> <!-- end .user_Cards -->
        </div> <!-- end .container_Cards -->
      </div> <!-- end card -->

      <div class="card-view-Cards">
          <div class='bg-Cards'>
            <img src="http://s18.postimg.org/4m9u2dlqx/com3.jpg" alt="company image">
          </div>
        <div class="container_Cards">
          <a rel="nofollow" rel="noreferrer"href='#'><div class="tag_name-Cards yellow-Cards">Company Culture</div></a>
          <div class="company">
            <div class="c_Cards_logo">
              <a rel="nofollow" rel="noreferrer"href="#"><img src="http://s18.postimg.org/er3we7exh/lo3.jpg" alt="Dribbble"></a>
            </div>
            <div class="c_Cards_info">
              <a rel="nofollow" rel="noreferrer"href="#" class="c_Cards_name">Dribbble</a><br>
              <span class="c_Cards_industry">Design Community</span><br>
              <span id="c_Cards_stars" data-star="3.5"></span>
              <div class="c_Cards_num">3.5</div >
            </div>
            <div class="c_Cards_content">
              <a rel="nofollow" rel="noreferrer"href='#' class="title"><p>The most briliant company that I’ve ever worked for</p></a>
              <p class="review">Amazing opportunities for any person. The projects we are given always stress new and innovating ideas that constantly challenge ourselves to improve our ...</p>
            </div>
          </div> <!-- end .company -->

          <div class="user_Cards">
            <div class="user_Cards_avatar">
              <img src="http://s18.postimg.org/r36srp2s5/image.jpg" alt="Danis Jack">
            </div>
            <div class="user_Cards_info">
              <a rel="nofollow" rel="noreferrer"href="#" class="user_Cards_name orange-Cards">Danis Jack</a> • May 30, 2015<br>Current Brand Director
            </div>
          </div> <!-- end .user_Cards -->
        </div> <!-- end .container_Cards -->
      </div> <!-- end card -->

      <div class="card-view-Cards">
          <div class='bg-Cards'>
            <img src="http://s18.postimg.org/som2jid09/com4.jpg" alt="company image">
          </div>
        <div class="container_Cards">
          <a rel="nofollow" rel="noreferrer"href='#'><div class="tag_name-Cards green-Cards">Senior Management</div></a>
          <div class="company">
            <div class="c_Cards_logo">
              <a rel="nofollow" rel="noreferrer"href="#"><img src="http://s18.postimg.org/8rg5aju51/lo4.gif" alt="W&amp;S"></a>
            </div>
            <div class="c_Cards_info">
              <a rel="nofollow" rel="noreferrer"href="#" class="c_Cards_name">W&amp;S Group</a><br>
              <span class="c_Cards_industry">Research Community</span><br>
              <span id="c_Cards_stars" data-star="4.5"></span>
              <div class="c_Cards_num">4.5</div >
            </div>
            <div class="c_Cards_content">
              <a rel="nofollow" rel="noreferrer"href='#' class="title"><p>My boss my hero</p></a>
              <p class="review">Amazing opportunities for any person. The projects we are given always stress new and innovating ideas that constantly challenge ourselves to improve our ...</p>
            </div>
          </div> <!-- end .company -->

          <div class="user_Cards">
            <div class="user_Cards_avatar">
              <img src="http://s18.postimg.org/pa3w3dhlh/image.jpg" alt="Karmi Phuc">
            </div>
            <div class="user_Cards_info">
              <a rel="nofollow" rel="noreferrer"href="#" class="user_Cards_name orange-Cards">Karmi Phuc</a> • May 30, 2015<br>Current Project Manager
            </div>
          </div> <!-- end .user_Cards -->
        </div> <!-- end .container_Cards -->
      </div> <!-- end card -->

      <div class="card-view-Cards">
          <div class='bg-Cards'>
            <img src="http://s18.postimg.org/4wcr7zazd/com5.jpg" alt="company image">
          </div>
        <div class="container_Cards">
          <a rel="nofollow" rel="noreferrer"href='#'><div class="tag_name-Cards cyan-Cards">Organization</div></a>
          <div class="company">
            <div class="c_Cards_logo">
              <a rel="nofollow" rel="noreferrer"href="#"><img src="http://s18.postimg.org/fs453bvx1/lo5.gif" alt="Medium"></a>
            </div>
            <div class="c_Cards_info">
              <a rel="nofollow" rel="noreferrer"href="#" class="c_Cards_name">Medium</a><br>
              <span class="c_Cards_industry">Digital Media</span><br>
              <span id="c_Cards_stars" data-star="5"></span>
              <div class="c_Cards_num">5.0</div >
            </div>
            <div class="c_Cards_content">
              <a rel="nofollow" rel="noreferrer"href='#' class="title"><p>The most briliant company that I’ve ever worked for</p></a>
              <p class="review">Amazing opportunities for any person. The projects we are given always stress new and innovating ideas that constantly challenge ourselves to improve our ...</p>
            </div>
          </div> <!-- end .company -->

          <div class="user_Cards">
            <div class="user_Cards_avatar">
              <img src="http://s18.postimg.org/thyoc4j11/image.gif" alt="Ev Williams">
            </div>
            <div class="user_Cards_info">
              <a rel="nofollow" rel="noreferrer"href="#" class="user_Cards_name orange-Cards">Evan Williams</a> • May 30, 2015<br>Current Brand Director
            </div>
          </div> <!-- end .user_Cards -->
        </div> <!-- end .container_Cards -->
      </div> <!-- end card -->

      <div class="card-view-Cards">
        <div class="container_Cards">
          <a rel="nofollow" rel="noreferrer"href='#'><div class="tag_name-Cards red_Cards">work / life balance</div></a>
          <div class="company">
            <div class="c_Cards_logo">
              <a rel="nofollow" rel="noreferrer"href="#"><img src="http://s18.postimg.org/3l4zzifdh/lo6.jpg" alt="Linkedin"></a>
            </div>
            <div class="c_Cards_info">
              <a rel="nofollow" rel="noreferrer"href="#" class="c_Cards_name">Linkedin</a><br>
              <span class="c_Cards_industry">Information Technology</span><br>
              <span id="c_Cards_stars" data-star="3"></span>
              <div class="c_Cards_num">3.0</div >
            </div>
            <div class="c_Cards_content">
              <a rel="nofollow" rel="noreferrer"href='#' class="title"><p>Fantastic organisation to work</p></a>
              <p class="review">True adherence to non discrimination policy. If you are young then rest assure that you will not finish up on the retrenchment list in the later age because of ...</p>
            </div>
          </div> <!-- end .company -->
          <div class="user_Cards">
            <div class="user_Cards_avatar">
              <img src="http://s18.postimg.org/9xk59cifp/image.gifhttp://imgur.com/R6qhkWo.gif" alt="Yukino Kinoshita">
            </div>
            <div class="user_Cards_info">
              <a rel="nofollow" rel="noreferrer"href="#" class="user_Cards_name orange-Cards">Yukino Kinoshita</a> • May 30, 2015<br>Current Brand Director
            </div>
          </div> <!-- end .user_Cards -->
        </div> <!-- end .container_Cards -->
      </div> <!-- end card -->

    </div> <!-- end col-md-3-Cards -->
</div>
    <script src="//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js"></script>

  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js'></script>
<script src='http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js'></script>

    <script>
    var $container_Cards = $(".col-md-3-Cards");
    $container_Cards.imagesLoaded(function() {
      $container_Cards.masonry({
        itemSelector: '.card-view-Cards',
        columnWidth: 302
      });

    });

    $.fn.stars = function() {
      return $(this).each(function() {
        var num = $(this).data("star");
        $(this).html($("<span />").width(Math.max(0, Math.min(5, num)) * 12));
      })
    };

    $(function() {

      $('.Switch-Cards').click(function() {
        $(this).toggleClass('list').toggleClass('card');
        // check current view mode: 'list' or 'card'
        if($(this).hasClass('list')) {
          console.log('List view');
          $(".card-view-Cards").attr("class", "list-view-Cards");
          $(".list-view-Cards").removeAttr("style");
        } else {
          console.log('Card view');
          $(".list-view-Cards").attr("class", "card-view-Cards");
          var container_Cards = document.querySelector('.col-md-3-Cards');
          // Reload masonry again
          var msnry = new Masonry( container_Cards, {
            itemSelector: '.card-view-Cards',
            columnWidth: 302
          });
        }
      });


      $("span#c_Cards_stars").stars();
    });

  </script>


</body>


</html>
