<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>영화, 그 이상의 감동. GRL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" id="parent-style-css" href="/stylesheets/menu/menu.css" type="text/css" media="all">
    <script type="text/javascript" src="/javascripts/jquery1.11.2.js"></script>
    <script type="text/javascript" src="/javascripts/prettyPhoto.js"></script>
    <script type="text/javascript" src="/javascripts/superfish.js"></script>
    <script type="text/javascript" src="/javascripts/init.js"></script>
</head>

<body data-responsive="1">
    <div id="header-outer" data-has-menu="true" data-using-pr-menu="false" data-mobile-fixed="false" data-ptnm="false" data-lhe="default" data-user-set-bg="#ffffff" data-format="default" data-permanent-transparent="false" data-megamenu-rt="0" data-remove-fixed="0" data-cart="false" data-transparency-option="0" data-box-shadow="small" data-shrink-num="6" data-full-width="false" data-using-secondary="0" data-using-logo="1" data-logo-height="50" data-m-logo-height="24" data-padding="28" data-header-resize="1" style="padding-top: 16px;" class="">
    	<header id="top">
    	<div class="container" style="visibility: visible;">
    		<div class="row">
    			<div class="col-TopMenu span_3">
    				<a id="logo" href="https://www.hyperledger.org/">
    				<img class="stnd default-logo dark-version" alt="Hyperledger" src="/images/logo_hl_new.png" srcset="https://www.hyperledger.org/wp-content/uploads/sites/7/2016/09/logo_hl_new.png 1x, https://www.hyperledger.org/wp-content/uploads/sites/7/2016/09/logo_hl_new.png 2x" style="height: 44px;">
    				</a>
    			</div>
    			<div class="col-TopMenu span_9 col_last">
    				<div class="slide-out-widget-area-toggle mobile-icon std-menu slide-out-from-right" data-icon-animation="simple-transform">
    					<div>
    						<a id="toggle-nav" href="https://www.hyperledger.org/#sidewidgetarea" class="closed">
    						<span>
    						<i class="lines-button x2">
    						<i class="lines"></i>
    						</i>
    						</span>
    						</a>
    					</div>
    				</div>
    				<nav style="">
    				<ul class="sf-menu sf-js-enabled sf-arrows">
    					<li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item menu-item-21">
    					<a href="https://www.hyperledger.org/" style="padding-bottom: 26px; padding-top: 11px;">Home</a>
    					</li>
    					<li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-20">
    					<a href="https://www.hyperledger.org/about" class="sf-with-ul" style="padding-bottom: 26px; padding-top: 11px;">About</a>
    					<ul class="sub-menu" style="display: none; top: 59px;">
    						<li id="menu-item-45" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45">
    						<a href="https://www.hyperledger.org/about/leadership">Leadership</a>
    						</li>
    						<li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-181">
    						<a href="https://www.hyperledger.org/about/members" class="sf-with-ul">Members <span class="sf-sub-indicator" style="height: 22px;">
    						<i class="icon-angle-right"></i>
    						</span>
    						</a>
    						<ul class="sub-menu" style="display: none;">
    							<li id="menu-item-1253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1253">
    							<a href="https://www.hyperledger.org/about/members/vendor-member-directory">Vendor Directory</a>
    							</li>
    							<li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
    							<a href="https://www.hyperledger.org/about/join">Join</a>
    							</li>
    						</ul>
    						</li>
    						<li id="menu-item-180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180">
    						<a href="https://www.hyperledger.org/about/charter">Charter</a>
    						</li>
    						<li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23">
    						<a href="https://www.hyperledger.org/contact">Contact Us</a>
    						</li>
    					</ul>
    					</li>
    					<li id="menu-item-278" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-278">
    					<a href="https://www.hyperledger.org/projects" style="padding-bottom: 26px; padding-top: 11px;">Projects</a>
    					</li>
    					<li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41">
    					<a href="https://www.hyperledger.org/community" style="padding-bottom: 26px; padding-top: 11px;">Community</a>
    					</li>
    					<li id="menu-item-549" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-549">
    					<a href="https://www.hyperledger.org/industries" class="sf-with-ul" style="padding-bottom: 26px; padding-top: 11px;">Industries</a>
    					<ul class="sub-menu" style="display: none; top: 59px;">
    						<li id="menu-item-551" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-551">
    						<a href="https://www.hyperledger.org/industries/finance">Finance</a>
    						</li>
    						<li id="menu-item-550" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-550">
    						<a href="https://www.hyperledger.org/industries/healthcare">Healthcare</a>
    						</li>
    					</ul>
    					</li>
    					<li id="menu-item-211" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-211">
    					<a href="https://www.hyperledger.org/news" class="sf-with-ul" style="padding-bottom: 26px; padding-top: 11px;">News &amp; Events</a>
    					<ul class="sub-menu" style="display: none; top: 59px;">
    						<li id="menu-item-214" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-214">
    						<a href="https://www.hyperledger.org/announcements">Announcements</a>
    						</li>
    						<li id="menu-item-264" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-264">
    						<a href="https://www.hyperledger.org/news/in-the-news">In The News</a>
    						</li>
    						<li id="menu-item-474" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-474">
    						<a href="https://www.hyperledger.org/events">Upcoming Events</a>
    						</li>
    					</ul>
    					</li>
    					<li id="menu-item-266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-266">
    					<a href="https://www.hyperledger.org/blog" style="padding-bottom: 26px; padding-top: 11px;">Blog</a>
    					</li>
    					<li id="search-btn" style="padding-bottom: 13px; padding-top: 13px;">
    					<div class="span12">
    						<form action="1" method="get" id="custom-search-form" class="form-search form-horizontal pull-right">
    							<div class="input-append span12">
    								<input type="text" class="search-query" placeholder="Search">
    							</div>
    						</form>
    					</div>
    					</li>
    				</ul>
    				</nav>
    			</div>
    			<!--/span_9-->
    		</div>
    		<!--/row-->
    	</div>
    	<!--/container-->
    	</header>
    	<div class="ns-loading-cover" style="display: none;">
    	</div>
    </div>
    <div id="mobile-menu" data-mobile-fixed="false" style="display: none;">

    	<div class="container">
    		<ul>
    			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item menu-item-21">
    			<a href="https://www.hyperledger.org/">Home</a>
    			</li>
    			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-20 has-ul">
    			<a href="https://www.hyperledger.org/about">About <span class="sf-sub-indicator" style="height: 22px;">
    			<i class="icon-angle-down"></i>
        </span>
    			</a>
    			<ul class="sub-menu">
    				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45">
    				<a href="https://www.hyperledger.org/about/leadership">Leadership</a>
    				</li>
    				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-181 has-ul">
    				<a href="https://www.hyperledger.org/about/members">Members <span class="sf-sub-indicator" style="height: 22px;">
    				<i class="icon-angle-down"></i>
    				</span>
    				</a>
    				<ul class="sub-menu">
    					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1253">
    					<a href="https://www.hyperledger.org/about/members/vendor-member-directory">Vendor Directory</a>
    					</li>
    					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
    					<a href="https://www.hyperledger.org/about/join">Join</a>
    					</li>
    				</ul>
    				</li>
    				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180">
    				<a href="https://www.hyperledger.org/about/charter">Charter</a>
    				</li>
    				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23">
    				<a href="https://www.hyperledger.org/contact">Contact Us</a>
    				</li>
    			</ul>
    			</li>
    			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-278">
    			<a href="https://www.hyperledger.org/projects">Projects</a>
    			</li>
    			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41">
    			<a href="https://www.hyperledger.org/community">Community</a>
    			</li>
    			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-549 has-ul">
    			<a href="https://www.hyperledger.org/industries">Industries <span class="sf-sub-indicator" style="height: 22px;">
    			<i class="icon-angle-down"></i>
    			</span>
    			</a>
    			<ul class="sub-menu">
    				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-551">
    				<a href="https://www.hyperledger.org/industries/finance">Finance</a>
    				</li>
    				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-550">
    				<a href="https://www.hyperledger.org/industries/healthcare">Healthcare</a>
    				</li>
    			</ul>
    			</li>
    			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-211 has-ul">
    			<a href="https://www.hyperledger.org/news">News &amp; Events <span class="sf-sub-indicator" style="height: 22px;">
    			<i class="icon-angle-down"></i>
    			</span>
    			</a>
    			<ul class="sub-menu">
    				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-214">
    				<a href="https://www.hyperledger.org/announcements">Announcements</a>
    				</li>
    				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-264">
    				<a href="https://www.hyperledger.org/news/in-the-news">In The News</a>
    				</li>
    				<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-474">
    				<a href="https://www.hyperledger.org/events">Upcoming Events</a>
    				</li>
    			</ul>
    			</li>
    			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-266">
    			<a href="https://www.hyperledger.org/blog">Blog</a>
    			</li>
    			<li id="mobile-search">
    			<form action="https://www.hyperledger.org/" method="GET">
    				<input type="text" name="s" value="" placeholder="Search.">
    			</form>
    			</li>
    		</ul>
    	</div>
    </div>
</body>

</html>
