<!DOCTYPE html>
<html>
   <head>
      <title>감동, 그 이상의 영화 GRL</title>
      <link rel="shortcut icon" type="image/x-icon" href="/images/logo/logo.png">
      <link rel="stylesheet" media="screen" href="/stylesheets/Movie-Detail.css">
      <script src="/javascripts/Movie-Detail1.js"></script>
      <script src="/javascripts/Movie-Detail2.js"></script>
   </head>
   <body class="landing nanum-gothic linux">

      <div id="contents" style="min-height: 927px;">
         <div class="movie-detail-container">
            <div class="movie-detail m3xlkh detail-page ">

               <div class="top-area">
                  <div class="biggest-stillcut ">
                     <div id="slider" class="swipe" style="visibility: visible;">
                        <div class="swipe-wrap" style="width: 12220px;">
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494555564/zvbkw1dpyb1rpoxkyxgp.jpg&quot;); width: 940px; left: 0px; transition-duration: 0ms; transform: translate(-940px, 0px) translateZ(0px);" data-index="0"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494555567/okg7xpzzw0kiztvn9rbu.jpg&quot;); width: 940px; left: -940px; transition-duration: 0ms; transform: translate(-940px, 0px) translateZ(0px);" data-index="1"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494555604/pldxzkuceavqwjpiupmg.jpg&quot;); width: 940px; left: -1880px; transition-duration: 0ms; transform: translate(-940px, 0px) translateZ(0px);" data-index="2"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494555616/fqgzm0bgiyreyp5gm7g0.jpg&quot;); width: 940px; left: -2820px; transition-duration: 0ms; transform: translate(-940px, 0px) translateZ(0px);" data-index="3"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494555631/aptyk6e7latbigc0m69u.jpg&quot;); width: 940px; left: -3760px; transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);" data-index="4"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494555649/kv9my4ajllnmtni0ejso.jpg&quot;); width: 940px; left: -4700px; transition-duration: 0ms; transform: translate(940px, 0px) translateZ(0px);" data-index="5"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1495431000/mruzqbcatsciculgeecc.jpg&quot;); width: 940px; left: -5640px; transition-duration: 0ms; transform: translate(940px, 0px) translateZ(0px);" data-index="6"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1495430999/llshxan6lucshg4letec.jpg&quot;); width: 940px; left: -6580px; transition-duration: 0ms; transform: translate(940px, 0px) translateZ(0px);" data-index="7"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494561166/v04kowmycdfmqgh1raby.jpg&quot;); width: 940px; left: -7520px; transition-duration: 0ms; transform: translate(940px, 0px) translateZ(0px);" data-index="8"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494561183/oygluwykoe7azrlxtpcy.jpg&quot;); width: 940px; left: -8460px; transition-duration: 0ms; transform: translate(940px, 0px) translateZ(0px);" data-index="9"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494561213/db6ltln6q7aaibplxqqo.jpg&quot;); width: 940px; left: -9400px; transition-duration: 0ms; transform: translate(940px, 0px) translateZ(0px);" data-index="10"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494561246/u688swwuqavzpn7prgrz.jpg&quot;); width: 940px; left: -10340px; transition-duration: 0ms; transform: translate(940px, 0px) translateZ(0px);" data-index="11"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1495430997/hypxdlycqjplmivvklxq.jpg&quot;); width: 940px; left: -11280px; transition-duration: 0ms; transform: translate(940px, 0px) translateZ(0px);" data-index="12"></div>
                        </div>
                     </div>
                     <ul class="swipe-controls">
                        <li class="swipe-prev">
                           <a href="#">이전</a>
                        </li>
                        <li class="swipe-next">
                           <a href="#">다음</a>
                        </li>
                     </ul>
                  </div>
                  <div class="stillcut-shadow"></div>
                  <div class="running-info">
                     <div class="item booking-rate">
                        <div class="head">예매율</div>
                        <div class="data"><span class="number">26.09</span>%</div>
                        <span class="divider"></span>
                     </div>
                     <div class="item customer-count">
                        <div class="head">누적관객수</div>
                        <div class="data">1,080,385</div>
                        <span class="divider"></span>
                     </div>
                     <div class="item d-day">
                        <div class="head">개봉일</div>
                        <div class="data english">D +4</div>
                     </div>
                  </div>
               </div>
               <div class="cise-wrapper" itemscope="" itemtype="http://data-vocabulary.org/review-aggregate">
                  <div id="detailWatchaCard" style="">
                     <div class="movie-card size-1x1 poster-type base_movie  user-action-m3xlkh card grid-1 hei-1">
                        <div class="poster-wrapper">
                           <img class="poster" src="./test1_files/zvf1qwfhuack56zpnoto.jpg" width="100%">
                        </div>
                     </div>
                  </div>
                  <script type="text/javascript">
                     var movieDetailWrapper = $('.movie-detail.m3xlkh.detail-page')
                     var detailWatchaCard = movieDetailWrapper.find('#detailWatchaCard')
                     $.ajax({
                       url: '/movie/m3xlkh.json',
                       success: function(movie){
                         card = new MovieCard('poster_movie_card', '1x1', movie.items[0], {
                           preventDetailPopup: true,
                           hidePredictedRating: true
                         });0
                         detailWatchaCard.append(card.el);
                         detailWatchaCard.show();
                       }
                     })
                  </script>
                  <div class="info">
                     <div class="title">캐리비안의 해적: 죽은 자는 말이 없다</div>
                  </div>

                  <div class="desc">Pirates of the Caribbean: Dead Men Tell No Tales, 2017, 미국, 오스트레일리아, 액션, 모험, 코미디, 판타지, 12세 관람가, 2시간 9분</div>
                  <div class="watcha-rating-wrapper">
                  <link rel="stylesheet" media="screen" href="/stylesheets/RatingStar.css">
                  <span class="stars stars--large">
                     <span style="width: 50%"></span>
                  </span>
                     <span class="number" itemprop="rating">3.5</span>
                     <span class="eval-count" itemprop="votes">(7,273명 참여)</span>
                  </div>
               </div>


               <div class="clear"></div>
               <input type="hidden" name="visitor" id="visitor" value="false">
            </div>
            <script type="text/javascript">
               (function(){ // 슬라이드 넘기는 자바스크립트 부분
                 $(document).ready(function($) {
                   var mySwipe = new Swipe(movieDetailWrapper.find('.biggest-stillcut .swipe')[0], {
                     speed: 650,
                     auto: 5000,
                     continuous: true,
                     disableScroll: false,
                     stopPropagation: false
                   });
                   $(".swipe-prev > a").click(function(e){
                     e.preventDefault();
                     mySwipe.prev();
                   });
                   $(".swipe-next > a").click(function(e){
                     e.preventDefault();
                     mySwipe.next();
                   });
                 });

                 var vodAllBtn = $('.vod-area .all-button');
                 var vodAllList = $('.vod-area .vod-list');

                 vodAllBtn.on('click', function(){
                   if(vodAllList.css('display') == 'block'){
                     vodAllList.hide();
                   } else {
                     vodAllList.show();
                   }
                 });
               })();
            </script>
         </div>
      </div>
   </body>
</html>
