<!DOCTYPE html>
<html>
   <head>
      <title>감동, 그 이상의 영화 GRL</title>
      <link rel="shortcut icon" type="image/x-icon" href="/images/logo/logo.png">
      <link rel="stylesheet" media="screen" href="/stylesheets/Booking.css">
      <script src="/javascripts/Movie-Detail1.js"></script>
      <script src="/javascripts/Movie-Detail2.js"></script>
   </head>
   <body class="landing nanum-gothic linux">

      <div id="header" class=" ">
         <div class="for-popup-scroll-area-margin">
            <div class="inner responsive-mask">
               <ul class="gnb clearfix">
                  <li class="navi-item home ">
                    <a href="/">
                    <img src="/images/logo/logo.png" width="30" height="30">
                    </a>
                     <span class="highlight"></span>
                  </li>
                  <li class="navi-item boxoffice">
                     <a href="#">박스오피스</a>
                     <span class="highlight"></span>
                  </li>
                  <li class="navi-item genre ">
                     <a href="https://watcha.net/recommendation">추천영화</a>
                     <span class="highlight"></span>
                  </li>
               </ul>
               <form accept-charset="UTF-8" action="https://watcha.net/search/search" id="search-form" method="get">
                  <div class="input-wrapper">
                     <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input id="input-query" name="query" type="search" autocomplete="off" class="ui-autocomplete-input">
                     <span id="search-icon"></span>
                  </div>
                  <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="display: none;"></ul>
               </form>
               <div id="gnb-right-menu" class="right-menu">
                 <div class="menu my" style="padding-bottom: 10px;padding-right: 14px;padding-left: 10px;">
                    <a class="name" href="#아이디클릭" onclick="window.open('/', 'newwindow', 'width=300, height=250'); return false;">
                         회원가입

                    </a>
                    <span class="highlight"></span>
                    <!-- <div class="dropdown">
                       <ul>
                          <li>
                             <a href="https://watcha.net/v2/users/k1dp84nRqd4m/wishlist">영화보관함</a>
                             <span class="count">19</span>
                          </li>
                          <li>
                             <a href="https://watcha.net/giftbox">선물함</a>
                          </li>
                          <li class="divide-line">
                             <a href="https://watcha.net/#" onclick="InviteFriend.popupInviteFriend(event);">친구초대</a>
                          </li>
                          <li class="divide-line">
                             <a href="https://watcha.net/#" class="setting">설정</a>
                          </li>
                          <li>
                             <a href="https://watcha.net/logout">로그아웃</a>
                          </li>
                       </ul>
                    </div> -->
                 </div>
                 <div class="menu my" style="padding-bottom: 10px; padding-right: 14px;padding-left: 10px;">
                    <a class="name" href="#아이디클릭">
                         로그인
                    </a>
                    <span class="highlight"></span>

                 </div>
               </div>
            </div>
         </div>
      </div>
       <iframe width="100%" height="725px"  scrolling="no" frameborder="0" src="http://localhost:3000/movies/booking-movie-detail"></iframe>

       <link rel="stylesheet" media="screen" href="/stylesheets/Reservation.css">
       <script src="/javascripts/Reservation.js"></script>
       <div style="height:600px">
         <div style="position:relative; margin-left:475px;">
             <div id="container">
               <div id="list-1" class="list">
                 <div class="icon"></div>
                 <div class="title">극장을 선택해 주세요.</div>
               </div>

             </div>
         </div>
         <div style="position:relative; margin-right:475px; margin-top: -500px;">
             <div id="container">
                <div id="list-1" class="list">
                  <div class="icon"></div>
                  <div class="title">서울</div><ul>
                    <a href="/booking-two"><li>구로 GRL</li></a>
                    <a href="/booking-two"><li>강남 GRL</li></a>
                  </ul>
                </div>
                <div id="list-1" class="list">
                  <div class="icon"></div>
                  <div class="title">인천</div><ul>
                    <a href="/booking-two"><li>부평 GRL</li></a>
                    <a href="/booking-two"><li>송도 GRL</li></a>
                  </ul>
                </div>
                <div id="list-1" class="list">
                  <div class="icon"></div>
                  <div class="title">경기</div><ul>
                    <a href="/booking-two"><li>수원 GRL</li></a>
                    <a href="/booking-two"><li>일산 GRL</li></a>
                  </ul>
                </div>
              </div>
         </div>
       </div>


      <link rel='stylesheet' href='/stylesheets/Footer.css'>
      <div id="footer">
        <footer class="top-footer">
            <h5>Join GodRoyal On</h5>
            <ul class="social">
                <li><a class="facebook" href=#></a></li>
                <li><a class="google" href=#></a></li>
                <li><a class="pinterest" href=#></a></li>
                <li><a class="youtube" href=#></a></li>
                <li><a class="instagram" href=#></a></li>
                <li><a class="linkedin" href=#></a></li>
            </ul>
        </footer>
    </div>

   </body>
</html>
