<!DOCTYPE html>
<html>
   <head>
      <title>감동, 그 이상의 영화 GRL</title>
      <link rel="shortcut icon" type="image/x-icon" href="/images/logo/logo.png">
      <link rel="stylesheet" media="screen" href="/stylesheets/Booking.css">
      <script src="/javascripts/Movie-Detail1.js"></script>
      <script src="/javascripts/Movie-Detail2.js"></script>
   </head>
   <body class="landing nanum-gothic linux">

     <div id="header">
         <div class="for-popup-scroll-area-margin">
             <div class="inner responsive-mask">
                 <ul class="gnb clearfix">
                     <li class="navi-item home ">
                         <a href="/">
                         <img src="/images/logo/logo.png" width="30" height="30">
                         </a>
                         <span class="highlight"></span>
                     </li>
                     <li class="navi-item boxoffice">
                        <a href="/movies">박스오피스</a>
                        <span class="highlight"></span>
                     </li>
                     <li class="navi-item genre ">
                        <a href="/movies/latestoffice">최신영화</a>
                        <span class="highlight"></span>
                     </li>
                     <li class="navi-item genre ">
                        <a href="/movies/recommend">추천영화</a>
                        <span class="highlight"></span>
                     </li>
                 </ul>
                 <form accept-charset="UTF-8" action="/search" id="search-form" method="get">
                    <div class="input-wrapper">
                       <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                       <input id="input-query" name="title_eng" type="search" autocomplete="off" class="ui-autocomplete-input">
                       <span id="search-icon"></span>
                    </div>
                 </form>
                 <% if(email){ %>
                   <div id="gnb-right-menu" class="right-menu">


                      <div class="menu my" style="padding-bottom: 10px;padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="/logout">
                              로그아웃
                         </a>
                         <span class="highlight"></span>
                      </div>
                      <div class="menu my" style="padding-bottom: 10px;padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="/movies/myticket">
                              예약내역
                         </a>
                         <span class="highlight"></span>
                      </div>
                      <div class="menu my" style="padding-bottom: 10px;padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="/movies/myinfo">
                              내 정보
                         </a>
                         <span class="highlight"></span>
                      </div>
                   </div>
                 <% }else{ %>
                   <div id="gnb-right-menu" class="right-menu">
                      <div class="menu my" style="padding-bottom: 10px; padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="/signup">
                              회원가입

                         </a>
                         <span class="highlight"></span>
                      </div>
                      <div class="menu my" style="padding-bottom: 10px; padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="/login">
                              로그인

                         </a>
                         <span class="highlight"></span>

                      </div>
                   </div>

                 <% } %>


             </div>
         </div>
     </div>
       <iframe width="100%" height="725px"  scrolling="no" frameborder="0" src="http://localhost:3000/movies/<%=rows[0].title_eng%>/booking-movie-detail"></iframe>


       <div style="height:600px; margin-top:-25px; margin-bottom:-50px">
         <iframe width="100%" height="525px" scrolling="no" frameborder="0" src="http://localhost:3000/movies/booking-one-temp/<%=rows[0].title_eng%>"></iframe>

       </div>


      <link rel='stylesheet' href='/stylesheets/Footer.css'>
      <div id="footer">
        <footer class="top-footer">
            <h5>Join GodRoyal On</h5>
            <ul class="social">
              <li><a class="facebook" href=//facebook.com></a></li>
              <li><a class="google" href=//google.com></a></li>
              <li><a class="pinterest" href=//pinterest.com></a></li>
              <li><a class="youtube" href=//youtube.com></a></li>
              <li><a class="instagram" href=//instagram.com></a></li>
              <li><a class="linkedin" href=//linkedin.com></a></li>
            </ul>
        </footer>
    </div>

   </body>
</html>
