<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

    <header>
          <%- include('partials/bootstrap') %>
    </header>

    <main>




          <%- include('partials/dashboard') %>
        </div>
    </main>

    <footer>

    </footer>

</body>
</html>
