<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <header>
        </header>
        <main>

        <%- include('partials/MenuSlide') %>


        </main>
        <footer>
          <%- include('partials/Footer') %>
        </footer>
    </body>
</html>
