<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/top_menu') %>
    </head>
    <body>
        <header>
            <%- include('partials/bootstrap') %>
        </header>
        <main>
          <div>
            <%- include('partials/TopSlide') %>
          </div>
          <div style="margin: 0px 0px 0px 0px;"
            <%- include('partials/ResponsiveCards') %>
          </div>

        </main>
        <footer>
        </footer>
    </body>
</html>
