<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/top_menu') %>
    </head>
    <body>
        <header>
            <%- include('partials/bootstrap') %>
        </header>
        <main>


            <div style="margin-bottom: -10px;">
                <iframe width="100%" height="910px" frameborder="0" src="http://localhost:3000/iframe_Movie-Detail"></iframe>
            </div>


        </main>
        <footer>
          <!-- <%- include('partials/Footer') %> -->
        </footer>
    </body>
</html>
