<!DOCTYPE html>
<html>
   <head>
      <title>감동, 그 이상의 영화 GRL</title>
      <link rel="shortcut icon" type="image/x-icon" href="/images/logo/logo.png">
      <link rel="stylesheet" media="screen" href="/stylesheets/Movie-Detail.css">
      <script src="/javascripts/Movie-Detail1.js"></script>
      <script src="/javascripts/Movie-Detail2.js"></script>
   </head>
   <body class="landing nanum-gothic linux">

      <div id="header" class=" ">
         <div class="for-popup-scroll-area-margin">
            <div class="inner responsive-mask">
               <ul class="gnb clearfix">
                  <li class="navi-item home ">
                    <a href="/">
                    <img src="/images/logo/logo.png" width="30" height="30">
                    </a>
                     <span class="highlight"></span>
                  </li>
                  <li class="navi-item boxoffice">
                     <a href="#">박스오피스</a>
                     <span class="highlight"></span>
                  </li>
                  <li class="navi-item genre ">
                     <a href="https://watcha.net/recommendation">추천영화</a>
                     <span class="highlight"></span>
                  </li>
               </ul>
               <form accept-charset="UTF-8" action="https://watcha.net/search/search" id="search-form" method="get">
                  <div class="input-wrapper">
                     <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input id="input-query" name="query" type="search" autocomplete="off" class="ui-autocomplete-input">
                     <span id="search-icon"></span>
                  </div>
                  <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="display: none;"></ul>
               </form>
               <div id="gnb-right-menu" class="right-menu">
                 <div class="menu my" style="padding-bottom: 10px;padding-right: 14px;padding-left: 10px;">
                    <a class="name" href="#아이디클릭" onclick="window.open('/', 'newwindow', 'width=300, height=250'); return false;">
                         회원가입

                    </a>
                    <span class="highlight"></span>
                    <!-- <div class="dropdown">
                       <ul>
                          <li>
                             <a href="https://watcha.net/v2/users/k1dp84nRqd4m/wishlist">영화보관함</a>
                             <span class="count">19</span>
                          </li>
                          <li>
                             <a href="https://watcha.net/giftbox">선물함</a>
                          </li>
                          <li class="divide-line">
                             <a href="https://watcha.net/#" onclick="InviteFriend.popupInviteFriend(event);">친구초대</a>
                          </li>
                          <li class="divide-line">
                             <a href="https://watcha.net/#" class="setting">설정</a>
                          </li>
                          <li>
                             <a href="https://watcha.net/logout">로그아웃</a>
                          </li>
                       </ul>
                    </div> -->
                 </div>
                 <div class="menu my" style="padding-bottom: 10px; padding-right: 14px;padding-left: 10px;">
                    <a class="name" href="#아이디클릭">
                         로그인
                    </a>
                    <span class="highlight"></span>

                 </div>
               </div>
            </div>
         </div>
      </div>
      <div id="contents" style="min-height: 927px;">
         <div class="movie-detail-container">
            <div class="movie-detail m3xlkh detail-page ">

               <div class="top-area">
                  <div class="biggest-stillcut ">
                     <div id="slider" class="swipe" style="visibility: visible;">
                        <div class="swipe-wrap" style="width: 12220px;">
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494555564/zvbkw1dpyb1rpoxkyxgp.jpg&quot;); width: 940px; left: 0px; transition-duration: 0ms; transform: translate(-940px, 0px) translateZ(0px);" data-index="0"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494555567/okg7xpzzw0kiztvn9rbu.jpg&quot;); width: 940px; left: -940px; transition-duration: 0ms; transform: translate(-940px, 0px) translateZ(0px);" data-index="1"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494555604/pldxzkuceavqwjpiupmg.jpg&quot;); width: 940px; left: -1880px; transition-duration: 0ms; transform: translate(-940px, 0px) translateZ(0px);" data-index="2"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494555616/fqgzm0bgiyreyp5gm7g0.jpg&quot;); width: 940px; left: -2820px; transition-duration: 0ms; transform: translate(-940px, 0px) translateZ(0px);" data-index="3"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494555631/aptyk6e7latbigc0m69u.jpg&quot;); width: 940px; left: -3760px; transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);" data-index="4"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494555649/kv9my4ajllnmtni0ejso.jpg&quot;); width: 940px; left: -4700px; transition-duration: 0ms; transform: translate(940px, 0px) translateZ(0px);" data-index="5"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1495431000/mruzqbcatsciculgeecc.jpg&quot;); width: 940px; left: -5640px; transition-duration: 0ms; transform: translate(940px, 0px) translateZ(0px);" data-index="6"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1495430999/llshxan6lucshg4letec.jpg&quot;); width: 940px; left: -6580px; transition-duration: 0ms; transform: translate(940px, 0px) translateZ(0px);" data-index="7"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494561166/v04kowmycdfmqgh1raby.jpg&quot;); width: 940px; left: -7520px; transition-duration: 0ms; transform: translate(940px, 0px) translateZ(0px);" data-index="8"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494561183/oygluwykoe7azrlxtpcy.jpg&quot;); width: 940px; left: -8460px; transition-duration: 0ms; transform: translate(940px, 0px) translateZ(0px);" data-index="9"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494561213/db6ltln6q7aaibplxqqo.jpg&quot;); width: 940px; left: -9400px; transition-duration: 0ms; transform: translate(940px, 0px) translateZ(0px);" data-index="10"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1494561246/u688swwuqavzpn7prgrz.jpg&quot;); width: 940px; left: -10340px; transition-duration: 0ms; transform: translate(940px, 0px) translateZ(0px);" data-index="11"></div>
                           <div style="background-image: url(&quot;https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1495430997/hypxdlycqjplmivvklxq.jpg&quot;); width: 940px; left: -11280px; transition-duration: 0ms; transform: translate(940px, 0px) translateZ(0px);" data-index="12"></div>
                        </div>
                     </div>
                     <ul class="swipe-controls">
                        <li class="swipe-prev">
                           <a href="#">이전</a>
                        </li>
                        <li class="swipe-next">
                           <a href="#">다음</a>
                        </li>
                     </ul>
                  </div>
                  <div class="stillcut-shadow"></div>
                  <div class="running-info">
                     <div class="item booking-rate">
                        <div class="head">예매율</div>
                        <div class="data"><span class="number">26.09</span>%</div>
                        <span class="divider"></span>
                     </div>
                     <div class="item customer-count">
                        <div class="head">누적관객수</div>
                        <div class="data">1,080,385</div>
                        <span class="divider"></span>
                     </div>
                     <div class="item d-day">
                        <div class="head">개봉일</div>
                        <div class="data english">D +4</div>
                     </div>
                  </div>
                  <a href="예매로넘어가기"><div class="booking-button book"><span class="icon"></span>예매하기</div></a>
               </div>
               <div class="cise-wrapper" itemscope="" itemtype="http://data-vocabulary.org/review-aggregate">
                  <div id="detailWatchaCard" style="">
                     <div class="movie-card size-1x1 poster-type base_movie  user-action-m3xlkh card grid-1 hei-1">
                        <div class="poster-wrapper">
                           <img class="poster" src="./test1_files/zvf1qwfhuack56zpnoto.jpg" width="100%">
                        </div>
                     </div>
                  </div>
                  <script type="text/javascript">
                     var movieDetailWrapper = $('.movie-detail.m3xlkh.detail-page')
                     var detailWatchaCard = movieDetailWrapper.find('#detailWatchaCard')
                     $.ajax({
                       url: '/movie/m3xlkh.json',
                       success: function(movie){
                         card = new MovieCard('poster_movie_card', '1x1', movie.items[0], {
                           preventDetailPopup: true,
                           hidePredictedRating: true
                         });0
                         detailWatchaCard.append(card.el);
                         detailWatchaCard.show();
                       }
                     })
                  </script>
                  <div class="info">
                     <div class="title">캐리비안의 해적: 죽은 자는 말이 없다</div>
                  </div>

                  <div class="desc">Pirates of the Caribbean: Dead Men Tell No Tales, 2017, 미국, 오스트레일리아, 액션, 모험, 코미디, 판타지, 12세 관람가, 2시간 9분</div>
                  <div class="watcha-rating-wrapper">
                  <link rel="stylesheet" media="screen" href="/stylesheets/RatingStar.css">
                  <span class="stars stars--large">
                     <span style="width: 50%"></span>
                  </span>
                     <span class="number" itemprop="rating">3.5</span>
                     <span class="eval-count" itemprop="votes">(7,273명 참여)</span>
                  </div>
               </div>
               <div class="west">
                  <h5>줄거리</h5>
                  <div class="story">전설적인 해적 캡틴 ‘잭 스패로우’(조니 뎁)의 눈 앞에 죽음마저 집어삼킨 바다의 학살자 ‘살라자르’(하비에르 바르뎀)가 복수를 위해 찾아온다. 둘 사이에 숨겨진 엄청난 비밀, 잭은 자신과 동료들의 죽음에 맞서 살아남기 위해 사투를 시작하는데... 지금, 모든 것을 압도할 거대한 전투가 펼쳐진다.</div>
                  <h5 class="all-review heading">
                     코멘트
                     <span class="count">(1516)</span>
                  </h5>
                  <ul class="all-review review-list">
                     <li>
                        <div class="blur-area">
                           <div class="user-pic" onclick="closePopupBeforeLeave(event);"><img src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg"></div>
                           <div class="review">
                              <div class="interest-status"><span class="rating-icon"><span style="display: inline-block; width: 12px; height: 11px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_on-b72e8d7703fae1d31eb798bb047c304805c292e63782b1efccd7511324f65f44.png&quot;) 0px 0px / 12px 11px no-repeat;"></span><span style="display: inline-block; width: 12px; height: 11px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_on-b72e8d7703fae1d31eb798bb047c304805c292e63782b1efccd7511324f65f44.png&quot;) 0px 0px / 12px 11px no-repeat;"></span><span style="display: inline-block; width: 12px; height: 11px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_on-b72e8d7703fae1d31eb798bb047c304805c292e63782b1efccd7511324f65f44.png&quot;) 0px 0px / 12px 11px no-repeat;"></span><span style="display: inline-block; width: 12px; height: 11px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_off-67d9f104a21affb0809d5870464325b270281f06b4bb09c63a812877da6dd8e6.png&quot;) 0px 0px / 12px 11px no-repeat;"></span><span style="display: inline-block; width: 12px; height: 11px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_off-67d9f104a21affb0809d5870464325b270281f06b4bb09c63a812877da6dd8e6.png&quot;) 0px 0px / 12px 11px no-repeat;"></span></span></div>
                              <div class="name">메뚜리언</div>
                              <p class="text">세상의 끝에서 낯선 조류를 만나 길을 잃었던 영화가 다시 항로를 찾기 시작했다.  <br>  <br># 쿠키 영상 있음. 좀 오래 기다려야 함.<br># 너무 기대를 안해서 그런지 생각보다 재밌게...</p>
                              <div class="watch-records" style="display: none;"></div>
                              <div class="bottom-left"><span class="updated-at">3일 전</span><span class="like-module rl-4993362">
                                <span class="count">
                                  <span class="like-count-text">164</span></span></span>
                                  </div>
                           </div>
                           <span class="balloon-arrow"></span>
                        </div>
                     </li>
                     <li>
                        <div class="blur-area">
                           <div class="user-pic" onclick="closePopupBeforeLeave(event);"><img src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg"></div>
                           <div class="review">
                              <div class="interest-status"><span class="rating-icon"><span style="display: inline-block; width: 12px; height: 11px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_on-b72e8d7703fae1d31eb798bb047c304805c292e63782b1efccd7511324f65f44.png&quot;) 0px 0px / 12px 11px no-repeat;"></span><span style="display: inline-block; width: 12px; height: 11px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_on-b72e8d7703fae1d31eb798bb047c304805c292e63782b1efccd7511324f65f44.png&quot;) 0px 0px / 12px 11px no-repeat;"></span><span style="display: inline-block; width: 12px; height: 11px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_on-b72e8d7703fae1d31eb798bb047c304805c292e63782b1efccd7511324f65f44.png&quot;) 0px 0px / 12px 11px no-repeat;"></span><span style="display: inline-block; width: 12px; height: 11px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_off-67d9f104a21affb0809d5870464325b270281f06b4bb09c63a812877da6dd8e6.png&quot;) 0px 0px / 12px 11px no-repeat;"></span><span style="display: inline-block; width: 12px; height: 11px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_off-67d9f104a21affb0809d5870464325b270281f06b4bb09c63a812877da6dd8e6.png&quot;) 0px 0px / 12px 11px no-repeat;"></span></span></div>
                              <div class="name">메뚜리언</div>
                              <p class="text">세상의 끝에서 낯선 조류를 만나 길을 잃었던 영화가 다시 항로를 찾기 시작했다.  <br>  <br># 쿠키 영상 있음. 좀 오래 기다려야 함.<br># 너무 기대를 안해서 그런지 생각보다 재밌게...</p>
                              <div class="watch-records" style="display: none;"></div>
                              <div class="bottom-left"><span class="updated-at">3일 전</span><span class="like-module rl-4993362">
                                <span class="count">
                                  <span class="like-count-text">164</span></span></span>
                                  </div>
                           </div>
                           <span class="balloon-arrow"></span>
                        </div>
                     </li>
                     <li>
                        <div class="blur-area">
                           <div class="user-pic" onclick="closePopupBeforeLeave(event);"><img src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg"></div>
                           <div class="review">
                              <div class="interest-status"><span class="rating-icon"><span style="display: inline-block; width: 12px; height: 11px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_on-b72e8d7703fae1d31eb798bb047c304805c292e63782b1efccd7511324f65f44.png&quot;) 0px 0px / 12px 11px no-repeat;"></span><span style="display: inline-block; width: 12px; height: 11px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_on-b72e8d7703fae1d31eb798bb047c304805c292e63782b1efccd7511324f65f44.png&quot;) 0px 0px / 12px 11px no-repeat;"></span><span style="display: inline-block; width: 12px; height: 11px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_on-b72e8d7703fae1d31eb798bb047c304805c292e63782b1efccd7511324f65f44.png&quot;) 0px 0px / 12px 11px no-repeat;"></span><span style="display: inline-block; width: 12px; height: 11px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_off-67d9f104a21affb0809d5870464325b270281f06b4bb09c63a812877da6dd8e6.png&quot;) 0px 0px / 12px 11px no-repeat;"></span><span style="display: inline-block; width: 12px; height: 11px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_off-67d9f104a21affb0809d5870464325b270281f06b4bb09c63a812877da6dd8e6.png&quot;) 0px 0px / 12px 11px no-repeat;"></span></span></div>
                              <div class="name">메뚜리언</div>
                              <p class="text">세상의 끝에서 낯선 조류를 만나 길을 잃었던 영화가 다시 항로를 찾기 시작했다.  <br>  <br># 쿠키 영상 있음. 좀 오래 기다려야 함.<br># 너무 기대를 안해서 그런지 생각보다 재밌게...</p>
                              <div class="watch-records" style="display: none;"></div>
                              <div class="bottom-left"><span class="updated-at">3일 전</span><span class="like-module rl-4993362">
                                <span class="count">
                                  <span class="like-count-text">164</span></span></span>
                                  </div>
                           </div>
                           <span class="balloon-arrow"></span>
                        </div>
                     </li>
                     <li>
                        <div class="blur-area">
                           <div class="user-pic" onclick="closePopupBeforeLeave(event);"><img src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg"></div>
                           <div class="review">
                              <div class="interest-status"><span class="rating-icon"><span style="display: inline-block; width: 12px; height: 11px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_on-b72e8d7703fae1d31eb798bb047c304805c292e63782b1efccd7511324f65f44.png&quot;) 0px 0px / 12px 11px no-repeat;"></span><span style="display: inline-block; width: 12px; height: 11px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_on-b72e8d7703fae1d31eb798bb047c304805c292e63782b1efccd7511324f65f44.png&quot;) 0px 0px / 12px 11px no-repeat;"></span><span style="display: inline-block; width: 12px; height: 11px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_on-b72e8d7703fae1d31eb798bb047c304805c292e63782b1efccd7511324f65f44.png&quot;) 0px 0px / 12px 11px no-repeat;"></span><span style="display: inline-block; width: 12px; height: 11px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_off-67d9f104a21affb0809d5870464325b270281f06b4bb09c63a812877da6dd8e6.png&quot;) 0px 0px / 12px 11px no-repeat;"></span><span style="display: inline-block; width: 12px; height: 11px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_mini_off-67d9f104a21affb0809d5870464325b270281f06b4bb09c63a812877da6dd8e6.png&quot;) 0px 0px / 12px 11px no-repeat;"></span></span></div>
                              <div class="name">메뚜리언</div>
                              <p class="text">세상의 끝에서 낯선 조류를 만나 길을 잃었던 영화가 다시 항로를 찾기 시작했다.  <br>  <br># 쿠키 영상 있음. 좀 오래 기다려야 함.<br># 너무 기대를 안해서 그런지 생각보다 재밌게...</p>
                              <div class="watch-records" style="display: none;"></div>
                              <div class="bottom-left"><span class="updated-at">3일 전</span><span class="like-module rl-4993362">
                                <span class="count">
                                  <span class="like-count-text">164</span></span></span>
                                  </div>
                           </div>
                           <span class="balloon-arrow"></span>
                        </div>
                     </li>
                  </ul>

                  <!-- <h5 class="similar-movie-heading">비슷한 영화</h5>
                  <ul class="similar-movie-list">
                     <div class="movie-card mini-poster-card user-action-mcskoh card grid-1 hei-1 first">
                        <div class="poster-wrapper">
                           <img class="poster" src="./test1_files/dlvnw4brvskzxrw4ewxf.jpg" width="140" height="200">
                           <div class="gradation detail-opener"></div>
                        </div>
                        <div class="action-wrapper">
                           <div class="movie-title">캐리비안의 해적 - 블랙 펄의 저주</div>
                           <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>
                           <div class="wish-comment">
                              <div class="wish">
                                 <span class="icon"></span>
                                 보고싶어요
                              </div>
                              <div class="bar"></div>
                              <div class="comment">
                                 <span class="icon"></span>
                                 코멘트 쓰기
                              </div>
                           </div>
                           <div class="meh">관심없어요</div>
                        </div>
                     </div>
                     <div class="movie-card mini-poster-card user-action-mmp3jg card grid-1 hei-1">
                        <div class="poster-wrapper">
                           <img class="poster" src="./test1_files/arq3uwmkitmnu3qw08z0.jpg" width="140" height="200">
                           <div class="gradation detail-opener"></div>
                        </div>
                        <div class="action-wrapper">
                           <div class="movie-title">캐리비안의 해적 - 미녀와 보물섬</div>
                           <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>
                           <div class="wish-comment">
                              <div class="wish">
                                 <span class="icon"></span>
                                 보고싶어요
                              </div>
                              <div class="bar"></div>
                              <div class="comment">
                                 <span class="icon"></span>
                                 코멘트 쓰기
                              </div>
                           </div>
                           <div class="meh">관심없어요</div>
                        </div>
                     </div>
                     <div class="movie-card mini-poster-card user-action-mg64md card grid-1 hei-1">
                        <div class="poster-wrapper">
                           <img class="poster" src="./test1_files/gtxn5vpuo3kbvw8rb5sb.jpg" width="140" height="200">
                           <div class="gradation detail-opener"></div>
                        </div>
                        <div class="action-wrapper">
                           <div class="movie-title">캐리비안의 해적 - 망자의 함</div>
                           <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>
                           <div class="wish-comment">
                              <div class="wish">
                                 <span class="icon"></span>
                                 보고싶어요
                              </div>
                              <div class="bar"></div>
                              <div class="comment">
                                 <span class="icon"></span>
                                 코멘트 쓰기
                              </div>
                           </div>
                           <div class="meh">관심없어요</div>
                        </div>
                     </div>
                     <div class="movie-card mini-poster-card user-action-mpj7jp card grid-1 hei-1">
                        <div class="poster-wrapper">
                           <img class="poster" src="./test1_files/r9loxmmuld86ruini2ck.jpg" width="140" height="200">
                           <div class="gradation detail-opener"></div>
                        </div>
                        <div class="action-wrapper">
                           <div class="movie-title">캐리비안의 해적: 낯선 조류</div>
                           <div class="rating"><span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span></div>
                           <div class="wish-comment">
                              <div class="wish">
                                 <span class="icon"></span>
                                 보고싶어요
                              </div>
                              <div class="bar"></div>
                              <div class="comment">
                                 <span class="icon"></span>
                                 코멘트 쓰기
                              </div>
                           </div>
                           <div class="meh">관심없어요</div>
                        </div>
                     </div>
                     <li class="clear"></li>
                  </ul> -->

               </div>


               <div class="east">

                  <h5>감독</h5>
                  <ul class="movie-people">
                     <li class="movie-person director">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="211538"><img src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg" class="pic" width="40" height="40"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="211538">요아킴 뢰닝</a>
                        <span class="eng-name">Joachim Ronning</span>
                     </li>
                     <li class="movie-person director">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="24086"><img src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg" class="pic" width="40" height="40"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="24086">에스펜 잔드베르크</a>
                        <span class="eng-name">Espen Sandberg</span>
                     </li>
                  </ul>
                  <h5>주연</h5>
                  <ul class="movie-people">
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="35059"><img src="./test1_files/cbe45b5cb13e7c73231e.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="35059">조니 뎁</a>
                        <span class="kor-role">잭 스패로우 역</span>
                        <span class="eng-name">Johnny Depp</span>
                     </li>
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="21470"><img src="./test1_files/cedcd411399aa84966ad.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="21470">하비에르 바르뎀</a>
                        <span class="kor-role">살라자르 역</span>
                        <span class="eng-name">Javier Bardem</span>
                     </li>
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="283328"><img src="./test1_files/a5403163a9c9fd9d1648.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="283328">브렌튼 스웨이츠</a>
                        <span class="kor-role">헨리 터너 역</span>
                        <span class="eng-name">Brenton Thwaites</span>
                     </li>
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="140742"><img src="./test1_files/94fe1b8582c752d03902.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="140742">카야 스코델라리오</a>
                        <span class="kor-role">카리나 스미스 역</span>
                        <span class="eng-name">Kaya Scodelario</span>
                     </li>
                  </ul>
                  <h5>조연</h5>
                  <ul class="movie-people">
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="72166"><img src="./test1_files/4a681c1747c28b4e6bca.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="72166">올랜도 블룸</a>
                        <span class="kor-role">윌 터너 역</span>
                        <span class="eng-name">Orlando Bloom</span>
                     </li>
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="87915"><img src="./test1_files/e939f08ec402fbc834e9.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="87915">제프리 러쉬</a>
                        <span class="kor-role">헥터 바르보사 역</span>
                        <span class="eng-name">Geoffrey Rush</span>
                     </li>
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="303069"><img src="./test1_files/59c44d927f355f54d219.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="303069">데이빗 웬햄</a>
                        <span class="kor-role">스카필드 역</span>
                        <span class="eng-name">David Wenham</span>
                     </li>
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="102448"><img src="./test1_files/8178a5614a0633ca136d.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="102448">골쉬프테 파라하니</a>
                        <span class="kor-role">하이파 메니 역</span>
                        <span class="eng-name">Golshifteh Farahani</span>
                     </li>
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="251122"><img src="./test1_files/201c8cb2e5ab47a140e7.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="251122">스티븐 그레이엄</a>
                        <span class="kor-role">스크럼 역</span>
                        <span class="eng-name">Stephen Graham</span>
                     </li>
                     <li class="movie-person actor" style="display:none;">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="248478"><img src="./test1_files/4c9d746c780802a547dc.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="248478">케빈 맥널리</a>
                        <span class="kor-role">깁스 역</span>
                        <span class="eng-name">Kevin McNally</span>
                     </li>
                     <li class="movie-person actor" style="display:none;">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="62769"><img src="./test1_files/9f2ab20eb1ee95a4766a.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="62769">마틴 클레바</a>
                        <span class="kor-role">마티 역</span>
                        <span class="eng-name">Martin Klebba</span>
                     </li>
                     <li class="movie-person actor" style="display:none;">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="91306"><img src="./test1_files/f9c2d62a4a9439b235ca.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="91306">키이라 나이틀리</a>
                        <span class="kor-role">엘리자베스 스완 역</span>
                        <span class="eng-name">Keira Knightley</span>
                     </li>
                  </ul>


               </div>


               <div class="clear"></div>
               <input type="hidden" name="visitor" id="visitor" value="false">
            </div>
            <script type="text/javascript">
               (function(){ // 슬라이드 넘기는 자바스크립트 부분
                 $(document).ready(function($) {
                   var mySwipe = new Swipe(movieDetailWrapper.find('.biggest-stillcut .swipe')[0], {
                     speed: 650,
                     auto: 5000,
                     continuous: true,
                     disableScroll: false,
                     stopPropagation: false
                   });
                   $(".swipe-prev > a").click(function(e){
                     e.preventDefault();
                     mySwipe.prev();
                   });
                   $(".swipe-next > a").click(function(e){
                     e.preventDefault();
                     mySwipe.next();
                   });
                 });

                 var vodAllBtn = $('.vod-area .all-button');
                 var vodAllList = $('.vod-area .vod-list');

                 vodAllBtn.on('click', function(){
                   if(vodAllList.css('display') == 'block'){
                     vodAllList.hide();
                   } else {
                     vodAllList.show();
                   }
                 });
               })();
            </script>
         </div>
      </div>


   </body>
</html>
1
