<!DOCTYPE html>
<html>
   <head>
     <title>감동, 그 이상의 영화 GRL</title>
     <link rel="shortcut icon" type="image/x-icon" href="/images/logo/logo.png">
     <link rel="stylesheet" media="screen" href="/stylesheets/Comment.css">
     <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800">
     <link rel="stylesheet" media="screen" href="https://decorator.io/cdn/modulr.min.css">
     <link rel="stylesheet" media="screen" href="https://decorator.io/cdn/modules/tooltip.min.css">
   </head>
   <body>


      <!-- Wrapper Start -->
      <div class="wrapper748 center padding-40 tablet-padding" style="margin-top:100px;">

        <!-- Comment Form Start -->
        <div class="row shadow padding-15 white">

          <form class="form wire teal">
            <textarea placeholder="say something..."></textarea>

            <!-- Submit Start -->
            <div class="row pull-left -margin padding-top-10">
              <span class="btn fill-transparent text-gray hover-disable -padding-left">
                500 characters left
              </span>
              <button class="btn teal pull-right">Submit</button>
            </div>
            <!-- Submit End -->
          </form>

        </div>
        <!-- Comment Form End -->


      </div>
      <!-- Wrapper End -->





   </body>
</html>
