<!DOCTYPE html>
<html>
   <head>
     <title>감동, 그 이상의 영화 GRL</title>
     <link rel="shortcut icon" type="image/x-icon" href="/images/logo/logo.png">
     <link rel="stylesheet" media="screen" href="/stylesheets/Search.css">
     <script src="/javascripts/Search.js"></script>
   </head>
   <body class="nanum-gothic linux">
      <div id="header" class=" ">
         <div class="for-popup-scroll-area-margin">
            <div class="inner responsive-mask">
               <ul class="gnb clearfix">
                 <li class="navi-item home ">
                   <a href="/">
                   <img src="/images/logo/logo.png" width="30" height="30">
                   </a>
                    <span class="highlight"></span>
                 </li>
                 <li class="navi-item boxoffice">
                    <a href="#">박스오피스</a>
                    <span class="highlight"></span>
                 </li>
                 <li class="navi-item genre ">
                    <a href="/movies/recommend">추천영화</a>
                    <span class="highlight"></span>
                 </li>
               </ul>
               <form accept-charset="UTF-8" action="https://watcha.net/search/search" id="search-form" method="get">
                  <div class="input-wrapper">
                     <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input id="input-query" name="query" type="search" autocomplete="off" class="ui-autocomplete-input">
                     <span id="search-icon"></span>
                  </div>
                  <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="display: none;"></ul>
               </form>
               <div id="gnb-right-menu" class="right-menu">
                 <div class="menu my" style="padding-bottom: 10px;padding-right: 14px;padding-left: 10px;">
                    <a class="name" href="#아이디클릭" onclick="window.open('/', 'newwindow', 'width=300, height=250'); return false;">
                         회원가입

                    </a>
                    <span class="highlight"></span>
                    <!-- <div class="dropdown">
                       <ul>
                          <li>
                             <a href="https://watcha.net/v2/users/k1dp84nRqd4m/wishlist">영화보관함</a>
                             <span class="count">19</span>
                          </li>
                          <li>
                             <a href="https://watcha.net/giftbox">선물함</a>
                          </li>
                          <li class="divide-line">
                             <a href="https://watcha.net/#" onclick="InviteFriend.popupInviteFriend(event);">친구초대</a>
                          </li>
                          <li class="divide-line">
                             <a href="https://watcha.net/#" class="setting">설정</a>
                          </li>
                          <li>
                             <a href="https://watcha.net/logout">로그아웃</a>
                          </li>
                       </ul>
                    </div> -->
                 </div>
                 <div class="menu my" style="padding-bottom: 10px; padding-right: 14px;padding-left: 10px;">
                    <a class="name" href="#아이디클릭">
                         로그인
                    </a>
                    <span class="highlight"></span>

                 </div>
               </div>
            </div>
         </div>
      </div>

      <div id="contents" style="min-height: 843px;">
         <input type="hidden" id="page_search_result">
         <div id="searched_movies_title" class="container_12">
            입력하신 <span id="search_query">시발</span> 의 검색 결과입니다.  <span class="count"></span>
         </div>

         <ul id="searched_movies_list" style="position: relative; height: 1488.84px; display: block;">
            <li class="movie-card-wrapper" style="position: relative;">
               <div class="movie-card size-1x1 poster-type movie_basic  user-action-mvhys7 card grid-1 hei-1">
                  <div class="poster-wrapper">
                     <img class="poster" src="http://caching.lottecinema.co.kr//Media/MovieFile/MovieImg/201705/11409_103_1.jpg" width="100%">
                     <div class="predicted-rating">
                     </div>
                     <div class="detail-opener gradation"></div>
                     <div class="bottom">
                     </div>
                  </div>
                  <div class="search-footer">
                     <a href="https://watcha.net/mv/we-didnt-start-the-fire-2014/mvhys7" data-movie-title-url="we-didnt-start-the-fire-2014" data-movie-id="mvhys7" class="search title can_highlighted">
                        <div class="title-text"><span class="highlighted">시발</span>.</div>
                        <div class="year-text">2014</div>
                     </a>
                     <div class="search summary">
                        <div class="origin-title can_highlighted">
                           원제 : We Didn’t Start the Fire
                        </div>
                        <div class="director">
                           감독 :
                           <span class="popup-involve-movies can_highlighted" data-person-id="336967">홍다예</span>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="movie-card-wrapper" style="position: relative;">
               <div class="movie-card size-1x1 poster-type movie_basic  user-action-memiaj card grid-1 hei-1">
                  <div class="poster-wrapper">
                     <img class="poster" src="http://caching.lottecinema.co.kr//Media/MovieFile/MovieImg/201705/11409_103_1.jpg" width="100%">
                     <div class="predicted-rating">
                     </div>
                     <div class="detail-opener gradation"></div>
                     <div class="bottom">
                     </div>

                  </div>
                  <div class="search-footer">
                     <a href="https://watcha.net/mv/super-origin-2015/memiaj" data-movie-title-url="super-origin-2015" data-movie-id="memiaj" class="search title can_highlighted">
                        <div class="title-text"><span class="highlighted">시발</span>, 놈: 인류의 시작</div>
                        <div class="year-text">2016</div>
                     </a>
                     <div class="search summary">
                        <div class="origin-title can_highlighted">
                           원제 : SUPER ORIGIN
                        </div>
                        <div class="director">
                           감독 :
                           <span class="popup-involve-movies can_highlighted" data-person-id="127673">백승기</span>
                        </div>

                     </div>
                  </div>
               </div>
            </li>
            <li class="movie-card-wrapper" style="position: relative;">
               <div class="movie-card size-1x1 poster-type movie_basic  user-action-mvhys7 card grid-1 hei-1">
                  <div class="poster-wrapper">
                     <img class="poster" src="http://caching.lottecinema.co.kr//Media/MovieFile/MovieImg/201705/11409_103_1.jpg" width="100%">
                     <div class="predicted-rating">
                     </div>
                     <div class="detail-opener gradation"></div>
                     <div class="bottom">
                     </div>
                  </div>
                  <div class="search-footer">
                     <a href="https://watcha.net/mv/we-didnt-start-the-fire-2014/mvhys7" data-movie-title-url="we-didnt-start-the-fire-2014" data-movie-id="mvhys7" class="search title can_highlighted">
                        <div class="title-text"><span class="highlighted">시발</span>.</div>
                        <div class="year-text">2014</div>
                     </a>
                     <div class="search summary">
                        <div class="origin-title can_highlighted">
                           원제 : We Didn’t Start the Fire
                        </div>
                        <div class="director">
                           감독 :
                           <span class="popup-involve-movies can_highlighted" data-person-id="336967">홍다예</span>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="movie-card-wrapper" style="position: relative;">
               <div class="movie-card size-1x1 poster-type movie_basic  user-action-memiaj card grid-1 hei-1">
                  <div class="poster-wrapper">
                     <img class="poster" src="http://caching.lottecinema.co.kr//Media/MovieFile/MovieImg/201705/11409_103_1.jpg" width="100%">
                     <div class="predicted-rating">
                     </div>
                     <div class="detail-opener gradation"></div>
                     <div class="bottom">
                     </div>

                  </div>
                  <div class="search-footer">
                     <a href="https://watcha.net/mv/super-origin-2015/memiaj" data-movie-title-url="super-origin-2015" data-movie-id="memiaj" class="search title can_highlighted">
                        <div class="title-text"><span class="highlighted">시발</span>, 놈: 인류의 시작</div>
                        <div class="year-text">2016</div>
                     </a>
                     <div class="search summary">
                        <div class="origin-title can_highlighted">
                           원제 : SUPER ORIGIN
                        </div>
                        <div class="director">
                           감독 :
                           <span class="popup-involve-movies can_highlighted" data-person-id="127673">백승기</span>
                        </div>

                     </div>
                  </div>
               </div>
            </li>
            <li class="movie-card-wrapper" style="position: relative;">
               <div class="movie-card size-1x1 poster-type movie_basic  user-action-mvhys7 card grid-1 hei-1">
                  <div class="poster-wrapper">
                     <img class="poster" src="http://caching.lottecinema.co.kr//Media/MovieFile/MovieImg/201705/11409_103_1.jpg" width="100%">
                     <div class="predicted-rating">
                     </div>
                     <div class="detail-opener gradation"></div>
                     <div class="bottom">
                     </div>
                  </div>
                  <div class="search-footer">
                     <a href="https://watcha.net/mv/we-didnt-start-the-fire-2014/mvhys7" data-movie-title-url="we-didnt-start-the-fire-2014" data-movie-id="mvhys7" class="search title can_highlighted">
                        <div class="title-text"><span class="highlighted">시발</span>.</div>
                        <div class="year-text">2014</div>
                     </a>
                     <div class="search summary">
                        <div class="origin-title can_highlighted">
                           원제 : We Didn’t Start the Fire
                        </div>
                        <div class="director">
                           감독 :
                           <span class="popup-involve-movies can_highlighted" data-person-id="336967">홍다예</span>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="movie-card-wrapper" style="position: relative;">
               <div class="movie-card size-1x1 poster-type movie_basic  user-action-memiaj card grid-1 hei-1">
                  <div class="poster-wrapper">
                     <img class="poster" src="http://caching.lottecinema.co.kr//Media/MovieFile/MovieImg/201705/11409_103_1.jpg" width="100%">
                     <div class="predicted-rating">
                     </div>
                     <div class="detail-opener gradation"></div>
                     <div class="bottom">
                     </div>

                  </div>
                  <div class="search-footer">
                     <a href="https://watcha.net/mv/super-origin-2015/memiaj" data-movie-title-url="super-origin-2015" data-movie-id="memiaj" class="search title can_highlighted">
                        <div class="title-text"><span class="highlighted">시발</span>, 놈: 인류의 시작</div>
                        <div class="year-text">2016</div>
                     </a>
                     <div class="search summary">
                        <div class="origin-title can_highlighted">
                           원제 : SUPER ORIGIN
                        </div>
                        <div class="director">
                           감독 :
                           <span class="popup-involve-movies can_highlighted" data-person-id="127673">백승기</span>
                        </div>

                     </div>
                  </div>
               </div>
            </li>
            <li class="movie-card-wrapper" style="position: relative;">
               <div class="movie-card size-1x1 poster-type movie_basic  user-action-mvhys7 card grid-1 hei-1">
                  <div class="poster-wrapper">
                     <img class="poster" src="http://caching.lottecinema.co.kr//Media/MovieFile/MovieImg/201705/11409_103_1.jpg" width="100%">
                     <div class="predicted-rating">
                     </div>
                     <div class="detail-opener gradation"></div>
                     <div class="bottom">
                     </div>
                  </div>
                  <div class="search-footer">
                     <a href="https://watcha.net/mv/we-didnt-start-the-fire-2014/mvhys7" data-movie-title-url="we-didnt-start-the-fire-2014" data-movie-id="mvhys7" class="search title can_highlighted">
                        <div class="title-text"><span class="highlighted">시발</span>.</div>
                        <div class="year-text">2014</div>
                     </a>
                     <div class="search summary">
                        <div class="origin-title can_highlighted">
                           원제 : We Didn’t Start the Fire
                        </div>
                        <div class="director">
                           감독 :
                           <span class="popup-involve-movies can_highlighted" data-person-id="336967">홍다예</span>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="movie-card-wrapper" style="position: relative;">
               <div class="movie-card size-1x1 poster-type movie_basic  user-action-memiaj card grid-1 hei-1">
                  <div class="poster-wrapper">
                     <img class="poster" src="http://caching.lottecinema.co.kr//Media/MovieFile/MovieImg/201705/11409_103_1.jpg" width="100%">
                     <div class="predicted-rating">
                     </div>
                     <div class="detail-opener gradation"></div>
                     <div class="bottom">
                     </div>

                  </div>
                  <div class="search-footer">
                     <a href="https://watcha.net/mv/super-origin-2015/memiaj" data-movie-title-url="super-origin-2015" data-movie-id="memiaj" class="search title can_highlighted">
                        <div class="title-text"><span class="highlighted">시발</span>, 놈: 인류의 시작</div>
                        <div class="year-text">2016</div>
                     </a>
                     <div class="search summary">
                        <div class="origin-title can_highlighted">
                           원제 : SUPER ORIGIN
                        </div>
                        <div class="director">
                           감독 :
                           <span class="popup-involve-movies can_highlighted" data-person-id="127673">백승기</span>
                        </div>

                     </div>
                  </div>
               </div>
            </li>
            <li class="movie-card-wrapper" style="position: relative;">
               <div class="movie-card size-1x1 poster-type movie_basic  user-action-mvhys7 card grid-1 hei-1">
                  <div class="poster-wrapper">
                     <img class="poster" src="http://caching.lottecinema.co.kr//Media/MovieFile/MovieImg/201705/11409_103_1.jpg" width="100%">
                     <div class="predicted-rating">
                     </div>
                     <div class="detail-opener gradation"></div>
                     <div class="bottom">
                     </div>
                  </div>
                  <div class="search-footer">
                     <a href="https://watcha.net/mv/we-didnt-start-the-fire-2014/mvhys7" data-movie-title-url="we-didnt-start-the-fire-2014" data-movie-id="mvhys7" class="search title can_highlighted">
                        <div class="title-text"><span class="highlighted">시발</span>.</div>
                        <div class="year-text">2014</div>
                     </a>
                     <div class="search summary">
                        <div class="origin-title can_highlighted">
                           원제 : We Didn’t Start the Fire
                        </div>
                        <div class="director">
                           감독 :
                           <span class="popup-involve-movies can_highlighted" data-person-id="336967">홍다예</span>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="movie-card-wrapper" style="position: relative;">
               <div class="movie-card size-1x1 poster-type movie_basic  user-action-memiaj card grid-1 hei-1">
                  <div class="poster-wrapper">
                     <img class="poster" src="http://caching.lottecinema.co.kr//Media/MovieFile/MovieImg/201705/11409_103_1.jpg" width="100%">
                     <div class="predicted-rating">
                     </div>
                     <div class="detail-opener gradation"></div>
                     <div class="bottom">
                     </div>

                  </div>
                  <div class="search-footer">
                     <a href="https://watcha.net/mv/super-origin-2015/memiaj" data-movie-title-url="super-origin-2015" data-movie-id="memiaj" class="search title can_highlighted">
                        <div class="title-text"><span class="highlighted">시발</span>, 놈: 인류의 시작</div>
                        <div class="year-text">2016</div>
                     </a>
                     <div class="search summary">
                        <div class="origin-title can_highlighted">
                           원제 : SUPER ORIGIN
                        </div>
                        <div class="director">
                           감독 :
                           <span class="popup-involve-movies can_highlighted" data-person-id="127673">백승기</span>
                        </div>

                     </div>
                  </div>
               </div>
            </li>
         </ul>

      </div>


      <link rel='stylesheet' href='/stylesheets/Footer.css'>
      <div id="footer" style="clear:both">
        <footer class="top-footer">
            <h5>Join GodRoyal On</h5>
            <ul class="social">
                <li><a class="facebook" href=#></a></li>
                <li><a class="google" href=#></a></li>
                <li><a class="pinterest" href=#></a></li>
                <li><a class="youtube" href=#></a></li>
                <li><a class="instagram" href=#></a></li>
                <li><a class="linkedin" href=#></a></li>
            </ul>
        </footer>
    </div>





   </body>
</html>
