<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

    <header>
    
    </header>

    <main>



            <%- include('partials/data_table') %>
          </div>
    </main>

    <footer>

    </footer>

</body>
</html>
