<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/top_menu') %>
</head>
<body>

    <header>

    </header>

    <main>
      <%- include('partials/ResponsiveCards') %>
        <div>

        </div>
    </main>

    <footer>

    </footer>

</body>
</html>
