<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
<style>
/* Outer */
  .popup-login {
      width:100%;
      height:100%;
      display:none;
      position:fixed;
      top:0px;
      left:0px;
      background:rgba(0,0,0,0.75);
  }

  /* Inner */
  .popup-inner-login {

      width:80%;

      position:absolute;
      top:50%;
      left:47%;
      -webkit-transform:translate(-50%, -50%);
      transform:translate(-50%, -50%);

      border-radius:3px;

  }

  /* Close Button */
  .popup-close-login {
      width:30px;
      height:30px;
      padding-top:4px;
      display:inline-block;
      position:absolute;
      top:0px;
      right:0px;
      transition:ease 0.25s all;
      -webkit-transform:translate(50%, -50%);
      transform:translate(50%, -50%);
      border-radius:1000px;
      background:rgba(0,0,0,0.8);
      font-family:Arial, Sans-Serif;
      font-size:20px;
      text-align:center;
      line-height:100%;
      color:#fff;
  }

  .popup-close-login:hover {
      -webkit-transform:translate(50%, -50%) rotate(180deg);
      transform:translate(50%, -50%) rotate(180deg);
      background:rgba(0,0,0,1);
      text-decoration:none;
  }
</style>
</head>
<body>



    <main>



<a class="btn" data-popup-open="popup-1" href="#">Open Popup #1</a>
      <div class="popup-login" data-popup="popup-1">

          <div class="popup-inner-login">
              <iframe id="top_slide"width="100%" height="500px"frameborder="0" src="/dashboard"></iframe>
              <a class="popup-close-login" data-popup-close="popup-1" href="#">x</a>
          </div>
      </div>


    </main>

    <script>
    $(function() {
        //----- OPEN
        $('[data-popup-open]').on('click', function(e)  {
            var targeted_popup_class = jQuery(this).attr('data-popup-open');
            $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

            e.preventDefault();
        });

        //----- CLOSE
        $('[data-popup-close]').on('click', function(e)  {
            var targeted_popup_class = jQuery(this).attr('data-popup-close');
            $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

            e.preventDefault();
        });
    });
    </script>

</body>
</html>
