<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">

    <header>

    </header>

    <main>
      <%- include('partials/ResponsiveCards') %>
        <div>

        </div>
    </main>

    <footer>

    </footer>

</body>
</html>
