<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/top_menu') %>
</head>
<body>

    <header>

    </header>

    <main>

        <div style="margin: 100px 100px 100px 100px;"
          <%- include('partials/ResponsiveCards') %>
        </div>
    </main>

    <footer>

    </footer>

</body>
</html>
