@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  /*background: rgba(36,20,69, 0.6);*/
  opacity:1;
  padding: 0;
  margin: 20px 0;
}


#container {
  font-family: "Open sans";
  width: 465px;
  height: 500px;
  margin: auto;
  /* border: 1px solid #aaa; */
  background: #fffeff;
  color: #261b17;
  overflow:auto;
}



.title {
  font-weight: bold;
  position: relative;
  top: 10px;
  height: 35px;
  font-size: 1.2em;
}

.list {
  width: 100%;
  background: #d2d1d0;
  padding: 3px 3px 3px 45px;
  box-sizing: border-box;
  position: relative;
  font-size: .8em;
  font-weight: lighter;
  cursor: pointer;
}

ul {
  transition: all ease 1s;
  max-height: 0px;
  overflow: hidden;
}

ul.open {
  max-height: 200px;
}

ul li:first-child {
  margin-top: 15px;
}

.list:not(:first-child) {
  margin-top: 5px;
}

.list li {
  height: 30px;
  margin-botton: 100px;
}

.icon {
  position: absolute;
  width: 10px;
  left: 20px;
  top: 15px;
  bottom: 16px;
  background: #25364f;
  border-radius: 25px;
}

ul {
  padding: 0;
  list-style: none;

}
