.slider {
  height: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
  .slider .slide {
    position: absolute;
    top: 0;
    float: left;
    height: 100%;
}
    .slider .slide img {
      width: 98%;
      height: 100%;
    }



.controls {
  margin-top: 30px;
  text-align: center;
  }
  .controls .prev {
    margin-left: -60px;
    margin-top: -210px;
    float:left;
  }

  .controls .next {
    margin-right: -60px;
    margin-top: -210px;
    float:right;
  }

  .controls button {
    margin-left: 10px;
    margin-right: 10px;
    outline:0;
    border: 0;
    background-color: #fff;
    color: gray;
    font-weight: bold;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 55px;
  }
    .controls button &:hover {
      transition: background-color 0.5s;
      background-color: #e00f21;
      cursor: pointer;
    }



.events {
  text-align: center;
}
  .events p {
    margin: 0;
  }
