@media only screen and (min-width : 690px) and (max-width : 1000px) {
	.container, #post-area.standard-minimal.full-width-content article.post .inner-wrap {
    	max-width: 600px;
  	}
}

@media only screen and (min-width: 480px) and (max-width: 690px) {
 	body .container, body div.slider-nav, #post-area.standard-minimal.full-width-content article.post .inner-wrap {
    	max-width: 420px!important;
  	}
}

@media only screen and (min-width : 1px) and (max-width : 1000px) {
	header#top #logo  {
		margin-top: 7px!important;
	}

	body header#top #logo img, #header-outer[data-permanent-transparent="false"] #logo .dark-version {
		height: 24px!important;
		margin-top: -3px!important;
		top: 3px;
		position: relative;
	}

	#header-outer {
  		position: relative!important;
  		/*height: 52px!important;*/
  		padding-top: 10px!important;
  		margin-bottom: 0px;
  	}

  #header-space, #search-outer { display: none!important; }
	header#top #toggle-nav, header#top #mobile-cart-link, header#top .span_9 > .slide-out-widget-area-toggle { display: block!important; }

	header#top .col.span_3 {
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 1000;
  		width: 85%!important;
  	}

  	header#top .col.span_9 {
  		margin-left: 0px;
  		min-height: 48px;
  		margin-bottom: 0px;
  		width: 100%!important;
  		float: none;
  		z-index: 100;
		position: relative;
  	}
}
